:root {
    --c-gauge-table--spacing: env(--space--normal); /* from `text-content.lists.css` */
}

%c-gauge--table-structure {
    /* Align elements as if in table */
    /* FAQ: Enforce table alignment only if elements are nested precisely */
    display: table;

    & > .c-gauge__range {
        display: table-row;
    }
    /* For medium and wide screens, label and figure are on a single row */
    @media (--screen-medium-and-above) {
        & > .c-gauge__range > .c-gauge__label {
            /* NOTE: Do NOT make the figure a table cell,
                    because Chrome will force 100% height */
            display: table-cell;
        }
    }
    /* For medium and narrow screens, label and figure are on different rows */
    @media (--screen-medium-and-below) {
        & {
            /* Add space between rows */
            /* FAQ: Space between rows distingusihes rows when they are visually
                    too busy because of a `content:attr(title)` after label */
            /* FAQ: Undo spacing from `text-content.lists.css` only to re-apply
                    it in a way that allows us to re-use it between rows, also. */
            margin-block: 0;
            border-spacing: var(--c-gauge-table--spacing);
            /* FAQ: Negate horizontal border-spacing */
            margin-inline: calc( var(--c-gauge-table--spacing) * -1 );
        }
    }
}