@import "styles/_imports/components/c-gauge/_layout/table.skin.css";

%c-gauge--table-skin {
    /* Add colon and space after label */
    & .c-gauge__label {
        white-space: nowrap; /* prevent wrap of `::after` content` */
    }
    & .c-gauge__label::after {
        display: inline-block;
        content: ':'; /* RFE: Support colons for other languages */

        margin-inline-end: 0.5ch;
    }
}