/* HACK: This is an override of `progress-color` from `c-gauge.skin.css`,
         because it is too much overhead to apply color per screen width
         for `…--layout-overlap`, but not for `…--layout-merged`/`stacked` */
@media (--screen-medium-and-above) {
    /* Skin gauges depending on how many are within a range */
    @mixin progress-color
        .c-gauge--layout-overlap[class*="has-range--count"] .c-gauge__range:not(:last-child) :--c-gauge-bar-figure,
        null, transparent, null;
}

/* DEBUG */

:root {
    --c-gauge-warning--size: env(--space--normal);
}

/* !!!: Make `font-size` smaller for small screens and small columns */
/* WARNING: Font-size is not changed on small screen, nor small width column. The code was lost or deleted for a poor reason. Set the font-size directly on media query, because of a tooling problem with PostCSS (when code is dispersed among files, changing variable on which a variable relies has unclear support). */
.c-gauge--layout-overlap::before {
    /* FAQ: The "\A" is a new line (to render it, use `white-space: pre…`) */
    /* SEE: https://stackoverflow.com/a/4609491/11817077 */
    white-space: pre-wrap; content: "Known Defects:\A\A 1. Tooltip unavailable on hover over last label (at medium and wider screen widths).\A\A 2. Label font size too large; can cause text overlap (at medium to wide screen widths).";
    display: block;
    box-sizing: border-box;
    padding-block: calc( env(--space--small) / 2 );
    padding-inline: env(--space--small);
    margin-block: calc( env(--space--small) * -1 ) env(--space--small);

    color: var(--global-color-warning--x-dark);
    background: var(--global-color-warning--xx-light);

    border-width: var(--global-layout--border-width);
    border-style: var(--global-layout--border-style);
    border-color: var(--global-color-warning--x-dark);

    font-size: var(--global-font-size--x-small);
    font-family: "Trebuchet MS", sans-serif;

    cursor: disabled;
}
.c-gauge--layout-overlap.c-gauge--style-rounded::before {
    border-radius: var(--global-layout--border-radius);
}