@import "styles/_imports/components/c-gauge/_layout/table.skin.css";

.c-gauge--layout-merged {
    @extend %c-gauge--table-skin;

    /* For medium and wide screens, label and figure are on a single row */
    @media (--screen-medium-and-above) {
        &[class*="has-range--count"] {
            & :--c-gauge-bar-figure--first {
                border-block-end: none;
            }
            & :--c-gauge-bar-figure--middle {
                border-block-start: none;
                border-block-end: none;
            }
            & :--c-gauge-bar-figure--last {
                border-block-start: none;
            }
        }
    }
}
