@import "styles/_imports/components/c-gauge/_layout/table.structure.css";

/* FAQ: Only necessary to append `.c-gauge__label` toanother custom-selector */
/* @custom-selector :--c-gauge-label .c-gauge__label; */

.c-gauge--layout-merged {
    @extend %c-gauge--table-structure;

    & > .c-gauge__range {
        /* HACK: Remove whitespace around children */
        font-size: 0;
    }
    & > .c-gauge__range > .c-gauge__label,
    & > .c-gauge__range > .c-gauge__figure {
        /* HACK: Restore lost font size */
        font-size: var(--c-gauge-range--font-size);
        /* HACK: Ensure `<progress>` figures touch in Firefox */
        vertical-align: middle;
    }

    /* For medium and wide screens, label and figure are on a single row */
    @media (--screen-medium-and-above) {
        /* Stretch figure height so they touch each other (to form one gauge) */
        & .c-gauge__label,
        & .c-gauge__figure {
            height: var(--c-gauge-label--height);
        }
        /* FAQ: A `:--global-title-element--any` has a bottom border */
        /* SEE: `styles/_imports/generics/non-tag/title.skin.css` */
        & :--global-title-element--any.c-gauge__label,
        & :--global-title-element--any.c-gauge__label + .c-gauge__figure {
            /* WTF: Why is `var(--generic-title--border-width)`, when combined
                    in this `calc(…)`, rendered as `3px` (by `postcss-…`); but,
                    when rendered alone, is the accurate `1px`?! */
            /* HACK: Manually use variable border width until error is solved */
            height: calc( var(--c-gauge-label--height) + var(--generic-title--border-width) );
        }
    }
}