:root {
    /* FAQ: The range (given any explicit width) can be divided by `max` value of `<progress>` figure to determine width of one unit of `value` for a `<progress>` figure */
    --c-gauge-range--width: 100%;
    --c-gauge-range--max-value: 5;
    --c-gauge-range--unit-width:
        calc( var(--c-gauge-range--width) / var(--c-gauge-range--max-value) );
}
