/* WARNING: There is a clash between:
            - `.c-gauge--layout-overlap .c-gauge__label`
            - `:--global-title-element--any`
*/
@import "styles/_imports/components/c-gauge/_layout/table.structure.css";

:root {
    --c-gauge-label--max-width:
        calc( var(--c-gauge-range--width) - var(--c-gauge-range--unit-width) );
}

.c-gauge--layout-overlap {
    position: relative; /* for absolutely positioned children */
                        /* for z-index'ed children */

    max-width: var(--global-layout--col-width);

    /* Arrange label beneath gauge */
    & .c-gauge__range {
        display: flex; /* allow swapping order of label and gauge */
        /* flex-direction: column | column-reverse; *//* see `@media` queries */
        width: var(--c-gauge-range--width);
    }

    /* FAQ: Labels and figures, specifically in ranges, need to stack */
    & .c-gauge__range .c-gauge__label {
        /* HACK: Shrink-wrap the width, but preserve flex display
                 that happens to come from `non-tag/title.structure.css` */
        /* RFE: Maybe a scope class is the solution to this HACK. */
        display: inline-flex;

        /* DEBUG: May not be necessary */
        /* position: relative; /* allow horizontal movement (via `inset…`) */
        /* FAQ: Set this value explicitely so the variable is accurate
                when it is used by other styles that rely on label height */
        min-height: var(--c-gauge-label--height);
    }
    /* Minimize figure styles, because elements may be inconsistent to style */
    /* FAQ: Likely elements: `<progress>`, `<meter>`, `<input>`, `<output>` */
    & .c-gauge__range .c-gauge__figure {
        display: block;
        /* height: …; */
        width: 100%;
    }
}

/* FAQ: Labels need to be aligned so that they do not overlap */
/* CAVEAT: If Parcel 1.0 parses CSS, these are unavailable to other files */
%c-gauge--overlap--arrange-labels--vert {
    /* WARNING: The code that was here has been deleted, because it relied
                on assumptions from outdated code; if you need code here,
                then _please_ start from scratch absed on existing code */
}
%c-gauge--overlap--arrange-labels--horz {
    /* Position labels to not overlap */
    & .c-gauge__range:first-child .c-gauge__label {
        align-self: start;
    }
    & .c-gauge__range:last-child .c-gauge__label {
        align-self: end;
    }

    /* Position labels to align vertically with `<progress>` value,
    /* Align label in a way to reduce chance to overflow parent */
    /* RFE: Obviate this by setting matching color for text and gauge
            (there must also be a color-blind correlation between elements) */
    & .c-gauge__range.is-low:not(:first-child) .c-gauge__label {
        align-self: start;
        margin-inline-start: var(--c-gauge-range--unit-width);
    }
    & .c-gauge__range.is-high:not(:first-child) .c-gauge__label {
        align-self: end;
        margin-inline-end: var(--c-gauge-range--unit-width);
    }
    & .c-gauge__range:not(:first-child, .is-low, .is-high, .is-max) .c-gauge__label {
        align-self: center;
    }
}

.c-gauge--layout-overlap {
    @extend %c-gauge--overlap--arrange-labels--horz;
}
/* For medium and wide screens, label and figure are on a single row */
@media (--screen-medium-and-above) {
    .c-gauge--layout-overlap {
        & .c-gauge__range {
            /* On large screens, labels look best below gauges */
            flex-direction: column-reverse;
        }

        /* Overlap each metric on top of the prior one */
        /* FAQ: First metric is not positioned but given dimensions, so it has layout */
        & .c-gauge__range + .c-gauge__range {
            position: absolute;
            inset-block-end: 0;
        }

        /* FAQ: The label should not exceed the width of the range,
                but a label can also be nudged at least one unit,
                so the maximum width is less than 100% */
        & .c-gauge__range .c-gauge__label {
            max-width: var(--c-gauge-label--max-width);
        }
    }
}
/* For medium and narrow screens, label and figure are on different rows */
@media (--screen-medium-and-below) {
    .c-gauge--layout-overlap {
        display: flex;
        flex-direction: column;

        & .c-gauge__range {
            /* Labels should be above figures */
            flex-direction: column;
        }
        & .c-gauge__range + .c-gauge__range {
            /* Add space between ranges */
            margin-block-start: var(--c-gauge-table--spacing);
        }
    }
    /* CAVEAT: These styles will overlap with styles from
               `media (…) { .o-columns .c-gauge--layout-overlap { … } }` */
    .c-gauge--layout-overlap {
        @extend %c-gauge--overlap--arrange-labels--vert;
    }
}
*/
/* For small and average screens, label and figure are on different rows */
@media (--screen-wide-and-below) {
    /* CAVEAT: These styles will overlap with styles from
               `@media (…) { .c-gauge--layout-overlap { … } }` */
    .o-columns .c-gauge--layout-overlap {
        @extend %c-gauge--overlap--arrange-labels--vert;
    }
}
