.c-gauge--style-rounded {
    /* For medium and wide screens, label and figure are on a single row */
    @media (--screen-medium-and-above) {
        /* For `…overlap` gauges, `<progress>` bar are rounded completely */
        &.c-gauge--layout-overlap {
            & :--c-gauge-bar-figure {
                border-radius: var(--global-layout--border-radius);
            }
        }
    }
    /* For single-range gauges, `<progress>` bar are rounded completely */
    &:not([class*="has-range--count"]) {
        & :--c-gauge-bar-figure {
            border-radius: var(--global-layout--border-radius);
        }
    }
    /* For mutliple-range gauges, `<progress>` bar are rounded
       as if each is vertical piece of a whole mergeed bar */
    &[class*="has-range--count"] {
        & :--c-gauge-bar-figure--first {
            border-top-left-radius: var(--global-layout--border-radius);
            border-top-right-radius: var(--global-layout--border-radius);
        }
        & :--c-gauge-bar-figure--middle {
            border-left-radius: var(--global-layout--border-radius);
            border-right-radius: var(--global-layout--border-radius);
        }
        & :--c-gauge-bar-figure--last {
            border-bottom-left-radius: var(--global-layout--border-radius);
            border-bottom-right-radius: var(--global-layout--border-radius);
        }
    }
}
