/*! WES | Settings */

:root {
	--m-progress-color--fill: red;
	--m-progress-color--bkgd: pink;
	--m-progress-color--border: brickred;
}

/*! WES | Code */

/*! WES | Code: Test */

.test--border-block-width {
	border-block-width: 5px 15px;
}
.test--border-block-start-width {
	border-block-start-width: 5px;
}
.test--border-block-end-width {
	border-block-end-width: 15px;
}
.test--border-inline-width {
	border-inline-width: 10px 20px;
}
.test--border-inline-start-width {
	border-inline-start-width: 20px;
}
.test--border-inline-end-width {
	border-inline-end-width: 10px;
}

/*! WES | Expected */

/*
.test--border-block-width {
	border-top-width: 5px
	border-bottom-width: 15px;
}
.test--border-block-start-width {
	border-top-width: 5px;
}
.test--border-block-end-width {
	border-bottom-width: 15px;
}
.test--border-inline-width {
	border-left-width: 10px;
	border-right-width: 20px;
}
.test--border-inline-start-width {
	border-left-width: 20px;
}
.test--border-inline-end-width {
	border-right-width: 10px;
}
*/