/*! WES | Settings */

@custom-selector :--simple s, span, small;

@custom-selector :--class-attr-newline
  .c-attr,
  [class*="c-attr--"];

@custom-selector :--nested nav;

/*! WES | Code */

:--simple {
    color: black;
}

:--class-attr-newline {
    color: black;
}

:--simple {
    & :--nested {
        color: black;
    }
}

:--class-attr-newline {
    & :--nested {
        color: black;
    }
}

@media screen and (max-width < 500px) {
    :--simple {
        color: black;
    }
}

@media screen and (max-width < 500px) {
    :--nested {
        color: black;
    }
}
