/*! WES | Settings */

/* FAQ: Automatically provided by `postcss.config.js`. */

/* FAQ: The processor imports the settings,
        then applies them to each other,
        then finds per-module settings,
        and exports parsed settings */
/* WARNING: If you export in the same step that you import, then this import,
           of the exports, could be an import of the previously export i.e.
           would be importing outdated settings; thus, any initial change,
           to any setting, would not be active until the second re-build,
           which would import the exported settings of the first build! */
@import "styles/_exports/settings.css";

/*! WES | Code */

/*! WES | Code.EnvVariables */

body {
    line-height: env(--phi);
    line-height: env(--vw--narrow);
    line-height: env(--vw--narrow-medium);
    line-height: env(--vw--medium);
    line-height: env(--vw--medium-wide);
    line-height: env(--vw--wide);
}

/*! WES | Code.FormSelector */

:--global-form-ux-element {
    color: black;
}
:--global-form-ux-element {
    color: var(--global-color-warning);
}

/*! WES | Code.TitleSelector */

:--global-title-element--any {
    text-decoration-style: underline;
}
:--global-title-element--block {
    text-decoration-line: wavy;
}
:--global-title-element--link {
    text-decoration-line: dashed;
}
:--global-title-element--inline {
    text-decoration-line: dotted;
}

/*! WES | Code.HeadingSelector */

:--global-heading-element {
    color: black;
}
:--global-heading-element {
    color: var(--global-color-warning);
}
@media (--screen-wide-and-above) {
    :--global-heading-element {
        color: black;
    }
}
.s-md2html {
  line-height: 1.8;

  & summary {
    & > p:only-child,
    & > :--global-heading-element:only-child {
      display: inline;
      margin-block: 0 0;
    }
  }
}
@media (--screen-wide-and-above) {
    .s-md2html {
    line-height: 1.8;

    & summary {
        & > p:only-child,
        & > :--global-heading-element:only-child {
        display: inline;
        margin-block: 0 0;
        }
    }
    }
}
