/*
Screen Width

These are the only media queries that should be used.
They are the "universal breakpoints" for Wesley B websites.

--screen-wide-and-above - `1500`+
--screen-wide-and-below - `1500`–
--screen-medium-to-wide - `670`—`1500`
--screen-medium-and-above - `670`+
--screen-medium-and-below - `670`–
--screen-narrow-to-wide - `300—1500`
--screen-narrow-and-above - `300`+
--screen-narrow-and-below - `300`–
--screen-narrow-to-medium - `300`—`670`

Styleguide Core.Settings.CustomMediaQueries.ScreenWidth
*/

/* WARNING: Use pixels!
            A reference online (since lost) proved how only
            the `px` units were reliable in media queries. */

/* NOTE: If we need styles to apply to two media queries,
         like `--screen-medium-to-wide` and `--screen-narrow-to-medium`,
         then use a comma in media query selector, like:
         `@media (--screen-medium-to-wide), (--screen-narrow-to-medium) { … }` */
/* SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#comma-separated_lists */

@custom-media --screen-narrow-to-wide   screen and (env(--vw--narrow) < width <= env(--vw--wide));

@custom-media --screen-narrow-and-below screen and (width <= env(--vw--narrow));
@custom-media --screen-narrow-and-above screen and (width > env(--vw--narrow));

@custom-media --screen-narrow-to-medium screen and (env(--vw--narrow) < width <= env(--vw--medium));
@custom-media --screen-medium-and-below screen and (width <= env(--vw--medium));
@custom-media --screen-medium-and-above screen and (width > env(--vw--medium));
@custom-media --screen-medium-to-wide   screen and (env(--vw--medium) < width <= env(--vw--wide));

@custom-media --screen-wide-and-below   screen and (width <= env(--vw--wide));
@custom-media --screen-wide-and-above   screen and (width > env(--vw--wide));
