/* FAQ: Documenting colors, typography, and variables in KSS-Node is not standard, yet.
        If you want to support this in a custom manner, go for it. Here are some ideas:

        - https://github.com/kss-node/kss-node/issues/388
        - https://github.com/kss-node/kss/blob/spec/SPEC.md#preprocessor-helper-documentation
        - https://github.com/kss-node/kss-node/issues/50#issuecomment-248027896
        - https://handlebarsjs.com/
*/

/*
Settings

These settings are for global variables e.g. custom properties and custom media queries. They are meant to be used by **many** other stylesheets. Examples include, but are not limited to, sizes and colors.

Reference:

- [Creative Bloq: Manage Large CSS Projects With ITCSS](https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528) (find "Settings")

Rules:

- Custom media queries used by any files **must** be here.
- Custom properties, i.e. variables, used by many files **must** be here.
- Custom properties, i.e. variables, specific to one file should **not** be here.

Weight: 1

Styleguide Core.Settings
*/

/*
Custom Properties

Custom properties are native CSS property value variables.

Reference:
- [Custom Properties](https://preset-env.cssdb.org/features#custom-properties)

Styleguide Core.Settings.CustomProperties
*/

/*
Custom Media Queries

Custom media queries are native CSS media query variables.

Reference:
- [Custom Media Queries](https://preset-env.cssdb.org/features#custom-media-queries)

Styleguide Core.Settings.CustomMediaQueries
*/

/*
Custom Selectors

Custom selectors are native CSS selector variables.

Reference:
- [Custom Selectors](https://preset-env.cssdb.org/features#custom-selectors)

Styleguide Core.Settings.CustomSelectors
*/

/* DO NOT ADD STYLES HERE; ADD GLOBAL SETTINGS INSIDE STYLESHEETS IN THIS DIRECTORY */

/* TO USE GLOBAL SETTINGS, JUST USE THEM; THEY ARE GLOBALLY AVAILABLE */
