/*
Elements

- :--global-form-ux-element - `input, select, textarea, button`
- :--global-heading-element - `h1, h2, h3, h4, h5, h6`
- :--global-list-element": "ul,ol,dl"
- :--global-title-element--block - `:--global-title-element--block`
- :--global-title-element--inline - `a[title],abbr`
- :--global-title-element--link - `a[title]`
- :--global-title-element--abbr - `abbr[title]`
- :--global-title-element--any - `[title]`

Styleguide Core.Settings.CustomSelectors.Elements
*/

/* WARNING: This selector omits these elements:
            - `output`
            - `datalist`
*/
/* FAQ: PostCSS may inject spaces into complex custom selectors */
/* SEE: https://github.com/postcss/postcss-custom-selectors/issues/40 */
/* WARNING: Define in `postcss.config.js`, for now */
/*
@custom-selector :--global-form-ux-element input,select,textarea,button;

@custom-selector :--global-heading-element h1,h2,h3,h4,h5,h6;

@custom-selector :--global-list-element ul,ol,dl;

@custom-selector :--global-title-element--block label[title];
@custom-selector :--global-title-element--inline a[title];
@custom-selector :--global-title-element--link a[title],abbr;
@custom-selector :--global-title-element--abbr abbr[title],
@custom-selector :--global-title-element--any [title];
/*
