<main class="c-sample" id="d-elements--forms--progress">
  <form>
    <label for="d-elements--forms--progress--a">Progress:</label>
    <progress id="d-elements--forms--progress--a" value="5" max="100">
        <span>5%</span>
    </progress>
  </form>
</main>