/*
<progress>

Markup: forms.progress.twig

Styleguide About.Elements.Form.Progress
*/
/* SEE: https://github.com/scottaohara/a11y_styled_form_controls/blob/master/src/assets/css/progress-bar.css */
/* SEE: https://scottaohara.github.io/a11y_styled_form_controls/src/progress-bar/ */
progress {
    -webkit-appearance: none;
    overflow: hidden;
}

/* FAQ: No `indeterminate` styles are decided */
/* progress:indeterminate {} */
