/*
<details> & <summary>

Styleguide Example.Elements.InteractiveElements.DetailsSummary
*/

/* Clear browser defaults */

details {
  padding-inline-start:
    calc( var(--global-layout--list-decorator-width) * 1 );
}
details > summary {
  position: relative; /* for absolutely positioned pseudo elements */
  list-style: none;
}
/* SEE: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Customizing_the_disclosure_widget */
/* details > summary::marker, */
details > summary::-webkit-details-marker {
  display: none;
}

/* Add generic new UX */

details > summary,
details > summary::before,
details > summary::after {
  cursor: pointer;
}

/* Prepend state-aware disclosure triangle */

details > summary::before {
  content: "▸";
  transform: rotateY(0deg);
  text-align: left; /* explicit, so `[dir="rtl"] works"` */

  position: absolute;
  inset-block-start: 0;
  inset-inline-start:
    calc( var(--global-layout--list-decorator-width) * -1 );
  width:
    calc( var(--global-layout--list-decorator-width) * 1 );
}
details > summary:dir(rtl)::before {
  transform: rotateY(180deg);
}

details > summary:hover::before,
details > summary:focus::before {
  content: "▹";
  transform: rotateY(0deg) rotateZ(0deg);
}
details > summary:hover:dir(rtl)::before,
details > summary:focus:dir(rtl)::before {
  transform: rotateY(180deg) rotateZ(0deg);
}

details[open] > summary::before {
  transform: rotateY(0deg) rotateZ(90deg);
}
details[open] > summary:dir(rtl)::before {
  transform: rotateY(180deg) rotateZ(90deg);
}

details[open] > summary:hover::before,
details[open] > summary:focus::before {
  transform: rotateY(0deg) rotateZ(90deg);
}
details[open] > summary:hover:dir(rtl)::before,
details[open] > summary:focus:dir(rtl)::before {
  transform: rotateY(180deg) rotateZ(90deg);
}