/*
Delimited List

This module defines layout & basic style for an inline list of text with a delimiter, e.g. "link a | link b | link c".

Markup: c-delimited-list.twig

.c-delimited-list--char-pipe - Pipe Delimiter i.e. "|"
.c-delimited-list--char-colon - Colon Delimiter i.e. ":"

Styleguide Core.Components.Atoms.DelimitedList
*/
.c-delimited-list,
[class*=".c-delimited-list--"] {
  /* FAQ: No universal styles are decided. */
}
.c-delimited-list__item {
  display: inline-block;
  vertical-align: middle;
}
.c-delimited-list--char,
[class*=".c-delimited-list--char-"] {
  & .c-delimited-list__item::after {
    text-align: center;
  }
  & .c-delimited-list__item:last-child::after {
    content: "";
  }
}
.c-delimited-list--char-pipe .c-delimited-list__item::after {
  content: "|";
}
.c-delimited-list--char-colon .c-delimited-list__item::after {
  content: ":";
}
