.c-gauge__range,
.c-gauge__figure {
    display: block;
}

@custom-selector :--c-gauge
    .c-gauge,
    [class*="c-gauge--"];

/* FAQ: Remove spacing from `text-content.lists.css` */
:--global-list-element:--c-gauge {
    padding-inline-start: 0;
}

/* Arrange gauges on z-axis */
:--c-gauge[class*="has-range--count"] {
    & .c-gauge__range {
        position: relative;
    }
    & .c-gauge__range:nth-child(1) { z-index: 3; }
    & .c-gauge__range:nth-child(2) { z-index: 2; }
    & .c-gauge__range:nth-child(3) { z-index: 1; }
}
