<main class="c-sample" id="c-gauge">
  <section>
    <h3 id="c-gauge--title">Years in Current Profession</h3>
    <ul class="c-gauge {{ modifier_class }} has-range--count-2">
      <li class="c-gauge__range is-low">
        <label class="c-gauge__label"
               id="c-gauge--range-d--label"
               for="c-gauge--range-d">Years-to-Date in Current Profession</label>
        <progress class="c-gauge__figure"
                  id="c-gauge--range-d" value="25" max="70"
                  aria-labelledby="c-gauge--title c-gauge--range-d--label">
            <span class="c-gauge__desc">25 (of 70 maximum)</span>
        </progress>
      </li>
      <li class="c-gauge__range is-high">
        <label class="c-gauge__label"
               id="c-gauge--range-e--label"
               for="c-gauge--range-e">Years Total Expected in Current Profession</label>
        <progress class="c-gauge__figure"
                  id="c-gauge--range-e" value="60" max="70"
                  aria-labelledby="c-gauge--title c-gauge--range-e--label">
            <span class="c-gauge__desc">60 (of 70 maximum)</span>
        </progress>
      </li>
    </ul>
    <!-- RFE: Add a `has-range--count-3` -->
    <!--
    <ul class="c-gauge {{ modifier_class }} has-range--count-3">
    …
    </ul>
    -->
  </section>
</main>