:root {
	--c-gauge-range--font-size: var(--global-font-size--small);
}

.c-gauge__range {
	font-size: var(--c-gauge-range--font-size);
}

.c-gauge__figure {
	border-width: var(--global-layout--border-width);
	border-style: var(--global-layout--border-style);
}

@custom-selector :--c-gauge-bar-figure
	progress.c-gauge__figure;
@custom-selector :--c-gauge-bar-figure--first
	.c-gauge__range:first-child progress.c-gauge__figure;
@custom-selector :--c-gauge-bar-figure--middle
	.c-gauge__range:not(:first-child):not(:last-child) progress.c-gauge__figure;
@custom-selector :--c-gauge-bar-figure--last
	.c-gauge__range:last-child progress.c-gauge__figure;

/* FAQ: Only color by count if count is expected */
/* RFE: Choose colors whose contrast pass WCAG ratios */
@mixin progress-color
	:--c-gauge-bar-figure--first,
	var(--global-color-accent--xx-dark),
	var(--global-color-accent--xxx-light),
	var(--global-color-text--x-dark);
@mixin progress-color
	:--c-gauge-bar-figure--middle,
	var(--global-color-accent--dark),
	var(--global-color-accent--xxx-light),
	var(--global-color-text--dark);
@mixin progress-color
	:--c-gauge-bar-figure--last,
	var(--global-color-accent--light),
	var(--global-color-accent--xxx-light),
	var(--global-color-text--normal);
