<main class="c-sample" id="c-metric">
  <section class="c-metric">
    <label for="c-metric--a" class="c-metric__label">Average Speed</label>
    <meter id="c-metric--a" class="c-metric__figure" value="55" max="120" low="60" high="80" optimum="70">
      <span class="c-metric__desc">55mph (of 120mph maximum)</span>
    </meter>
  </section>
  <section class="c-metric">
    <label for="c-metric--b" class="c-metric__label">Dishes Cleaned</label>
    <progress id="c-metric--b" class="c-metric__figure" value="25" max="70">
      <span class="c-metric__desc">13 dishes (of 60 dishes maximum)</span>
    </progress>
  </section>
  <form class="c-metric" oninput="c.value=Math.floor(parseInt(a.value)/parseInt(b.value))">
    <label for="c-metric--c--input-a" class="c-metric__label">Slices of Pizza</label>
    <input id="c-metric--c--input-a"  class="c-metric__figure"name="a" type="range" value="10" />
    <label for="c-metric--c--input-b" class="c-metric__label">Number of Mouths</label>
    <input id="c-metric--c--input-b"  class="c-metric__figure"name="b" type="number" value="5" />
    <label for="c-metric--c--output" class="c-metric__label">Slices per Mouth</label>
    <output id="c-metric--c--output"  class="c-metric__figure"name="c">2</output>
  </form>
</main>