<main class="c-sample" id="c-skill">
  <section class="c-skill">
    <h3 class="c-skill__title">Highway Driving</h3>
    <p class="c-skill__notes">This is a good skill to have. I have it.</p>
    <dl class="c-skill__data">
      <dt><label for="c-skill-data--a">Years of Experience</label></dt>
      <dd><progress id="c-skill-data--a" value="15" max="70">15 (of 70 maximum)</progress></dd>
    </dl>
    <dl class="c-skill__data">
      <dt><label for="c-skill-data--b">Average Speed</label></dt>
      <dd><meter id="c-skill-data--b" value="55" max="120" low="60" high="80" optimum="70">55 (of 120 maximum)</meter></dd>
    </dl>
  </section>
</main>