/*
Skill

An evaluation of a skill. It could have a title, data, and notes.

Markup: c-skill.twig

Styleguide About.Components.Skill
*/
.c-skill__notes {
    margin-block: env(--space--normal);

    font-size: var(--global-font-size--small);
}
