/*! WES | Site Debug */

/*! WES | Site Debug: Highlight Namespaces */

@custom-selector :--ns-o
  [class^="o-"],
  [class*=" o-"];

@custom-selector :--ns-c
  [class^="c-"],
  [class*=" c-"];

@custom-selector :--ns-u
  [class^="u-"],
  [class*=" u-"];

@custom-selector :--ns-s
  [class^="s-"],
  [class*=" s-"];

@custom-selector :--ns-_
  [class^="_"],
  [class*=" _"];

@custom-selector :--ns-js
  [class^="js-"],
  [class*=" js-"];

@custom-selector :--ns :--ns-o, :--ns-c, :--ns-u, :--ns-s, :--ns-_, :--ns-js;

:--ns {
  outline-width: 2px;
  outline-style: dotted;
}
:--ns-o {
  outline-color: goldenrod;
}
:--ns-c {
  outline-color: green;
}
:--ns-u {
  outline-color: skyblue;
}
:--ns-s {
  outline-color: rebeccapurple;
}
:--ns-_ {
  outline-color: red;
}
:--ns-js {
  outline-color: gray;
}

:--ns-o { opacity: 1.0; }
:--ns-o :--ns-o { opacity: 0.9; }
:--ns-o :--ns-o :--ns-o { opacity: 0.8; }
:--ns-o :--ns-o :--ns-o :--ns-o { opacity: 0.7; }
:--ns-o :--ns-o :--ns-o :--ns-o :--ns-o { opacity: 0.6; }

:--ns-c { opacity: 1.0; } { opacity: 0.9; }
:--ns-c :--ns-c :--ns-c { opacity: 0.8; }
:--ns-c :--ns-c :--ns-c :--ns-c { opacity: 0.7; }
:--ns-c :--ns-c :--ns-c :--ns-c :--ns-c { opacity: 0.6; }

:--ns-u { opacity: 1.0; }
:--ns-u :--ns-u { opacity: 0.9; }
:--ns-u :--ns-u :--ns-u { opacity: 0.8; }
:--ns-u :--ns-u :--ns-u :--ns-u { opacity: 0.7; }
:--ns-u :--ns-u :--ns-u :--ns-u :--ns-u { opacity: 0.6; }

:--ns-s { opacity: 1.0; }
:--ns-s :--ns-s { opacity: 0.9; }
:--ns-s :--ns-s :--ns-s { opacity: 0.8; }
:--ns-s :--ns-s :--ns-s :--ns-s { opacity: 0.7; }
:--ns-s :--ns-s :--ns-s :--ns-s :--ns-s { opacity: 0.6; }

:--ns-_ { opacity: 1.0; }
:--ns-_ :--ns-_ { opacity: 0.9; }
:--ns-_ :--ns-_ :--ns-_ { opacity: 0.8; }
:--ns-_ :--ns-_ :--ns-_ :--ns-_ { opacity: 0.7; }
:--ns-_ :--ns-_ :--ns-_ :--ns-_ :--ns-_ { opacity: 0.6; }

:--ns-js { opacity: 1.0; }
:--ns-js :--ns-js { opacity: 0.9; }
:--ns-js :--ns-js :--ns-js { opacity: 0.8; }
:--ns-js :--ns-js :--ns-js :--ns-js { opacity: 0.7; }
:--ns-js :--ns-js :--ns-js :--ns-js :--ns-js { opacity: 0.6; }
