/*
Columns

A column-based content container.

Styleguide Core.Objects.Columns
*/
.o-columns {
  column-count: var(--global-layout--col-count);
  column-gap: var(--global-layout--col-gap);
  column-width: var(--global-layout--col-width);
  column-rule-width: var(--global-layout--col-ruler-width);
}
.o-columns__element {
  /* Prevent margin from flowing across columns
    (such that it can appear to be "missing") */
  /* FAQ: Margin (can overflow) is used instead of padding (can not overflow),
          because padding increases height of element, such that it will not fit
          at the bottom of a column, so is moved entirely to the next column */
  /* FAQ: Force margin to be included in the height of the element */
  overflow-y: hidden;
}
/* Elements should avoid being broken */
.o-columns__element,
.o-columns__element > * {
  /* FAQ: We want `avoid-column`, so that printed pages can break as necessary
          (because article content is arbritarily long—okay to page break).
          But, Firefox does not support this value yet */
  break-inside: avoid;
  break-inside: avoid-column;

  /* FAQ: When `break-inside` fails, these styles may help */
  /* WARNING: These styles prevent three column layout — 2019-07-21 */
  /* SEE: https://stackoverflow.com/a/8855458 */
  /*
  width: 100%;
  display: inline-block;
  */
}
