<main class="c-sample" id="o-columns">
  <section class="o-columns">
    <article class="c-sample__block o-columns__element">
        <p>You have so many different things placeholder text has to be able to do, and I don't believe Lorem Ipsum has the stamina. You're telling the enemy exactly what you're going to do. No wonder you've been fighting Lorem Ipsum your entire adult life. It’s about making placeholder text great again. That’s what people want, they want placeholder text to be great again. Lorem Ipsum better hope that there are no "tapes" of our conversations before he starts leaking to the press!</p>
    </article>
    <article class="c-sample__block o-columns__element">
        <p>I know words. I have the best words. When other websites give you text, they’re not sending the best. They’re not sending you, they’re sending words that have lots of problems and they’re bringing those problems with us. They’re bringing mistakes. They’re bringing misspellings. They’re typists… And some, I assume, are good words. Lorem Ipsum is unattractive, both inside and out. I fully understand why it’s former users left it for something else. They made a good decision.</p>
    </article>
    <article class="c-sample__block o-columns__element">
        <p>Some people have an ability to write placeholder text... It's an art you're basically born with. You either have it or you don't. Lorem Ispum is a choke artist. It chokes! When other websites give you text, they’re not sending the best. They’re not sending you, they’re sending words that have lots of problems and they’re bringing those problems with us. They’re bringing mistakes. They’re bringing misspellings. They’re typists… And some, I assume, are good words. I think the only card she has is the Lorem card.</p>
    </article>
    <article class="c-sample__block o-columns__element">
        <p>We have so many things that we have to do better... and certainly ipsum is one of them. We are going to make placeholder text great again. Greater than ever before. I have a 10 year old son. He has words. He is so good with these words it's unbelievable.</p>
    </article>
  </section>
</main>