/*
HACK: Fix Browser Bugs

Miscellaneous utility hack classes for fixing browser bugs.

Styleguide Core.Trumps.Hacks.Utilities.Fix
*/

/*
HACK: Fix Links on Chrome Browser

Fix these defects:
- Chrome may re-apply hover style on link A when hovering on link C.
- Chrome may chop off `text-decoration-style` if element is too short.
    - The problem occurs on intermittent hovers, but is consistent.
    - Easiest resolution is to not use `wavy`.
    - Using `double` reduces the chance of problem.

Markup:
<main class="c-sample" id="d-trumps--utilities--white-space">
  <small class="u-white--nowrap" style="width: 100px">@ <abbr title="parent company of Golden Frog, Data Foundry, and Giganews">Powerhouse Management</abbr></small>
</main>

Styleguide Core.Trumps.Hacks.Utilities.Fix.LinksOnChrome
*/
/* SEE: `styles/_imports/generics/non-tag/title.structure.css` */
._u-fix--links-on-chrome {
  & a {
    /* Fix browser bug by giving element greater height */
    /* SEE: https://stackoverflow.com/q/7665443/11817077 */
    /* WARNING: Stylesheet `title.structure.css` sets `inline-flex`
                (for certain media) which is overriden by this solution */
    /* display: inline-block; */

    /* Fix browser bug by giving element greater height with alternate value */
    /* FAQ: There is no visual problem to apply these styles to all media;
            though there could be, later, we can manage that, later. */
    /* display: inline-flex; */

    /* Fix app bug caused by the fix to browser bug */
    /* FAQ: Keep bottom border as close to text as if display were `inline`. */
    /* WARNING: This negates fix by causing same problem in a new way. */
    /* line-height: normal; */
  }
}