/*
Trumps

Trump styles exist to overwrite other styles. They are added as necessary. Examples use cases are third-party styles, styles used only by JavaScript, modules that are not meant to extended as desired.

Reference:

- [Creative Bloq: Manage Large CSS Projects With ITCSS](https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528) (find "Trumps")

Rules:

- Classes and IDs must not be styled.
- Opinionated high-level styles may be here.
- Element tags may be styled.
- Pseudo classes may be styled.
- Pseudo elements may be styled.

Weight: 7

Styleguide Core.Trumps
*/

/*
Scopes

Scope styles are functional overrides and styles that are scoped to a specific area. These are meant to be used sparingly. Examples of scopes are functional styles for third-party markup, WYSIWIG editor tags, form elements, components with a forced relationship.

Reference:

- [BEM with Namespaces: Scope Namespaces](https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#scope-namespaces-s-)

Guidelines:

- Scopes are pretty rare, evaluate before creating.
- A consistent way to author these in nested inside `.s-* {}`.

Rules:

- The `!important` may be used.
- All overrides **must** have a comment.
- Scope styles should have a comment.

Styleguide Core.Trumps.Scopes
*/

/*
Utility

Utility styles exist to overwrite other styles. They are seldom modified. Example use case is one-time use on modules that are not meant to be extended to have the desired behavior.

Reference:

- [BEM with Namespaces: Utility Namespaces](https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#utility-namespaces-u-)

Guidelines:

- Utilities are style heavyweights.
- Alert people as to their existence.
- Never reassign to anything that carries a leading u-.

Rules:

- All other existing styles must be considered first.
- All other existing stylesheets must be considered first.
- Prefer this to inline styles.

Styleguide Core.Trumps.Utilities
*/

/*
Hacks

Styles and visual fixes applied in a "hacky" manner.

- **Avoid using these styles.**
- **Avoid adding to these files.**

Styleguide About.Trumps.Hacks
*/

/*
Utilities

Utility styles that should not exist.

- **Avoid using these styles.**
- **Avoid adding to these files.**

Styleguide About.Trumps.Hacks.Utilities
*/

/*
IDs

Styles and visual fixes for elements by ID.

- **Avoid using these styles.**
- **Avoid adding to these files.**

Styleguide About.Trumps.Hacks.IDs
*/

/* DO NOT ADD STYLES HERE; ADD THEM INSIDE STYLESHEETS IN THIS DIRECTORY */
