/*
Ability List

Styles and visual fixes for elements within a list of abilities (that may be deeply nested)

.s-ability-list--shallow - A list that is __not__ deeply nested
.s-ability-list--deep - A list that is deeply nested

Styleguide About.Trumps.Scopes.AbilityList
*/

%s-ability-list--busy-list {
    font-size: var(--global-font-size--small);
    line-height: calc( var(--global-layout--line-height) * 1.25 );
}

@custom-selector :--s-ability-list
    .s-ability-list,
    [class*="s-ability-list--"];

:--s-ability-list {
    & > details {
        margin-block: env(--space--x-small);
    }
}
.s-ability-list--shallow {
    /* FAQ: Shallow ability lists need only small font paragraphs */
    /* FAQ: This selector prevents styles from acting on major headings */
    & details summary ~ p {
        @extend %s-ability-list--busy-list;
    }

    /* HACK: Only do this to a first level list */
    /* FAQ: Other lists should remain small and compact */
    & > details > :--global-list-element {
        /* For less busy content, add more list space
           (overrides `elements/text-content.lists.css`) */
        margin-block: env(--space--normal);
        margin-inline-start: env(--space--small);
    }
}
.s-ability-list--deep {
    & :--global-list-element :--global-list-element :--global-list-element {
        @extend %s-ability-list--busy-list;
    }
}