/* HACK: This stylesheet allows styling mixed components and elements */
/* RFE: Find one component or object (new or existing) to manage all this */
/*
Objects

Styles and visual fixes for objects within the markup created from markdown.

Styleguide About.Trumps.Scopes.MD2HTML.Objects
*/

@custom-selector :--s-md2html-h1
    .o-app__head h1;
@custom-selector :--s-md2html-tagline
    .o-app__head .c-intro__major;
@custom-selector :--s-md2html-h2
    .o-app__body h2;

.s-md2html {
    /* Remove top margin from headings */
    /* FAQ: This lets `o-app` spacing be managed independently in `o-app.css` */
    & :--s-md2html-h1,
    & :--s-md2html-h2 {
        margin-block-start: 0;
    }
    & :--s-md2html-h2 {
        margin-block-end: env(--space--normal);
    }
    /* Manage space between page heading and short intro */
    & :--s-md2html-h1 {
        margin-block-end: var(--o-app-space--small);
    }
    & :--s-md2html-tagline {
        margin-block-start: 0;
    }
}