/*
Example for "Markdown to HTML"

Styles and visual fixes for examples of "Markdown to HTML" styles.

Styleguide About.Trumps.Scopes.ExampleMD2HTML
*/

.s-md2html-example {
    & > ul {
        padding-inline-start: 0;
        list-style-type: none;
    }
}