/*
Elements

Styles and visual fixes for elements within the markup created from markdown.

Styleguide About.Trumps.Scopes.MD2HTML.Elements
*/
.s-md2html {
  & summary > p:only-child,
  & summary > :--global-heading-element:only-child {
    margin-block: 0;
  }

  /* by Typora (Quartz Milky) */
  /* SEE: [books.wesleyb.me]:/source/styles/vendor/typora/quartz-milky.css */
  /* NOTE: This was code copied from `books` website.
          It has been slowly being trimmed or migrated.
          The final code is actually optimized form original.
          I want to delete all of it? Self, may I? */
  & li + li > p:last-child:not(:first-child) {
    padding-block-start: 0.5rem;
  }
}

#s-md2html--auto-gen-abbr-glossary {
  /* FAQ: Hide until you know what you want to do with these */
  display: none;

  position: fixed;
  inset: 0 0 auto auto;

  /* WARNING: Temporary styles */
  width: 25%;                  /* RFE: Use media queries */
  background-color: lightgray; /* RFE: Use a variable */
  border: 1px solid gray;      /* RFE: Use a variable */
}

/* RFE: */
/* TEMP: Table of Contents does not work on dynamic HTML (except for Chrome) */
/* NOTE: The Table of Contents works on Chrome, Safari, and Firefox as of 2019-06-13 /*
.s-md2html [id*="toc"],
.s-md2html [class*="toc"] {
  display: none !important;
}
*/
