/*
Navigation

Styles and visual fixes for elements within a `<nav>` / navigation list.

Styleguide About.Trumps.Scopes.Navigation
*/

.s-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 0;
}
.s-nav li {
    display: inline-block;
}

/* For medium and narrow screens, navigation links each have their own row */
@media (--screen-medium-and-below) {
    .s-nav ul {
        flex-direction: column;
    }
}