/*
Hide

Different ways and reasons to hide elements.

Markup:
<main class="c-sample" id="d-trumps--utilities--hide">
  <section>
    <h4>Hide For All Users</h4>
    <div class="c-sample__container"
        id="u-hide-for-all">
      <div class="c-sample__block">Block Element</div>
      <div class="u-hide--for-all c-sample__block">Block Element</div>
      <div class="u-hide--for-all-but-keep-space c-sample__block">Block Element</div>
      <div class="c-sample__block">Block Element</div>
    </div>
    <h4>Hide Text To Replace With Image</h4>
    <header class="u-hide--text-image-replacement c-sample__block"
            id="u-hide-text-image-replacement">
      <span class="u-hide__text">Text Element</span>
    </header>
    <h4>Hide Visually</h4>
    <div class="c-sample__container"
        id="u-hide-visually">
      <div class="c-sample__block">Block Element</div>
      <div class="u-hide--visually c-sample__block">Block Element</div>
      <!--<div class="u-hide--visually-legacy c-sample__block">Block Element</div>-->
      <!--<div class="u-hide--visually-overkill c-sample__block">Block Element</div>-->
      <!--<div class="u-hide--visually-modern c-sample__block">Block Element</div>-->
    </div>
  </section>
</main>

Styleguide Core.Trumps.Utilities.Hide
*/

/* Hides content for all users, even screen readers */
.u-hide--for-all {
  display: none;
}
.u-hide--for-all-but-keep-space {
  visibility: hidden;
}

/* Replace text with image; meets WCAG 2.0 success criteria */
/* SEE: https://www.w3.org/TR/WCAG20-TECHS/C30.html */
.u-hide--text-image-replacement {
  /* background-image: url('…'); */
}
.u-hide--text-image-replacement .u-hide__text {
  position: absolute;
  left: -9999em;
}

/* Hides content for visual users, retain hidden text for screen readers */
/* Modern */
/* SEE: https://a11yproject.com/posts/how-to-hide-content/ */
.u-hide--visually {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;

  /* NOTE: Uncomment this if I hide such stuff */
  /*
  &:focus,
  &:focus,
  &:focus {
    position: static;
    width: auto; height: auto;
  }
  */
}
.u-show--visually {
  clip: auto;
  overflow: visible;
}