/*
Tools

Tools are global sets of properties e.g. mixins / `@extend`s / functional selectors, functions / `@plugin`s. They are not defined as Settings, because one may require one of the global Settings as a default parameter.

Reference:

- [Creative Bloq: Manage Large CSS Projects With ITCSS](https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528) (find "Tools")

Weight: 2

Styleguide Core.Tools
*/

/*
Functions

Functions are custom CSS functions defined using a preprocessor.

Reference:

- [PostCSS plugin for writing CSS functions with JavaScript](https://github.com/andyjansson/postcss-functions)
- [SASS `@function`](https://sass-lang.com/documentation/at-rules/function)
- [LESS `@plugin`](http://lesscss.org/features/#plugin-atrules-feature)

Styleguide Core.Tools.Functions
*/

/*
Extends

Extends are static sets of re-usable properties.

Reference:

- [PostCSS plugin for implementing proposed (and declined) CSS `@extend`](https://github.com/jonathantneal/postcss-extend-rule/)
- [SASS `@extend`](https://sass-lang.com/documentation/at-rules/extend)
- [LESS `@extend`](http://lesscss.org/features/#extend-feature)

Styleguide Core.Tools.Extends
*/

/*
Mixins

Mixins are functional sets of re-usable properties.

Reference:

- [SASS `@mixin`](https://sass-lang.com/documentation/at-rules/function)
- [OOCSS `@mixin`](http://oocss.org/spec/css-mixins.html)

Styleguide Core.Tools.Mixins
*/

/* DO NOT ADD STYLES HERE; ADD GLOBAL TOOLS INSIDE STYLESHEETS IN THIS DIRECTORY */

/* TO USE GLOBAL TOOLS, JUST USE THEM; THEY ARE GLOBALLY AVAILABLE */
