<template title="Wes! Use a templating language to reduce markup and remove this notice 😄.">
<!-- RFE: Use a templating language for yield/layout/block/blah, so I can:
    - delete this `div`
    - have `.o-page` & `.o-page__*` in one file
-->
</template>

<div class="o-app--layout-vert">
<header class="o-app__head c-intro">

<h1 id="wesleybwes-index-short"><a href="/index.html" title="Professional Overview">Wesley B</a></h1>

<h2 class="c-intro__major">
    <span>Sr. Front-End Engineer</span>
    <small class="c-intro__extra">and other roles</small>
</h2>
<p>
I write, architect, and promote maintainable code; plan large projects; research and promote best practices; and provide and foster mentorship in software engineering and all of these skills.
</p>

<blockquote class="c-intro__minor s-md2html-example">

<ul>
<li>Headings with a disclosure triangle (▸), when clicked/tapped/activated, will reveal more information.

<ul>
<li>Some lists can be nested many levels deep. Explore as far as you care.</span></li>
</ul></li>
<li><p>Such headings, <mark>if marked (like this)</mark>, have content that I specifically have choosen to highlight.</p>

<ul>
<li>Only the headings are marked. No need to hunt for marked content.</li>
</ul></li>
</ul>

<footer>
    Wesley B, <cite>notes from candidate</cite>
</footer>

</blockquote>

<!-- RFE: Show glossary when it is rendered usefully and is accessible. -->
<!-- FAQ: MultiMarkdown will "over-render" the first instance of an `<abbr>`,
          so I store that excess information in a proper glossary. -->
<aside id="s-md2html--auto-gen-abbr-glossary" hidden>

<ul>
<li>Measurement of known proclivity, current interest, and expected responsibility. (<abbr title="Measurement of known proclivity, current interest, and expected responsibility.">projected</abbr>)</li>
<li>Measurement of actual experience and current knowledge. (<abbr title="Measurement of actual experience and current knowledge.">current</abbr>)</li>
<li>applications (<abbr title="applications">apps</abbr>)</li>
<li>sets of related user stories (<abbr title="sets of related user stories">epics</abbr>)</li>
<li>sets of related epics (<abbr title="sets of related epics">&#8220;features&#8221;</abbr>)</li>
<li>Electron, React Native, Ionic, Cordova, AngularJS, NativeScript (<abbr title="Electron, React Native, Ionic, Cordova, AngularJS, NativeScript">hybrid mobile app frameworks</abbr>)</li>
<li>Often available merely via semantic HTML5 (ARIA roles may be required) (<abbr title="Often available merely via semantic HTML5 (ARIA roles may be required)">accessibility</abbr>)</li>
<li>Preferable to graceful degredation (but not feasible for every project) (<abbr title="Preferable to graceful degredation (but not feasible for every project)">progressive enhancement</abbr>)</li>
<li>Webpack, Bower, Gulp, Grunt, RequireJS (<abbr title="Webpack, Bower, Gulp, Grunt, RequireJS">prior JS tooling</abbr>)</li>
<li>OOCSS, SMACSS, in-house (<abbr title="OOCSS, SMACSS, in-house">prior CSS organization</abbr>)</li>
<li>SASS, LESS (<abbr title="SASS, LESS">prior CSS processing</abbr>)</li>
<li>styleguide.js, in-house (<abbr title="styleguide.js, in-house">prior CSS documentation</abbr>)</li>
<li>Node (<abbr title="Node">newer JS scripting</abbr>)</li>
<li>Preference for raw JavaScript, not jQuery (<abbr title="Preference for raw JavaScript, not jQuery">DOM manipulation</abbr>)</li>
<li>I devised a methodology that I do not use, now (<abbr title="I devised a methodology that I do not use, now">in-house</abbr>)</li>
<li>Abandoned project I do not use, now (<abbr title="Abandoned project I do not use, now">styleguide.js</abbr>)</li>
<li>Shopify, WordPress (<abbr title="Shopify, WordPress">earlier CMS experience</abbr>)</li>
<li>Joomla, PrestaShop, Magento, Typolight, and more (<abbr title="Joomla, PrestaShop, Magento, Typolight, and more">prior CMS experience</abbr>)</li>
<li>Mandarin (<abbr title="Mandarin">Chinese</abbr>)</li>
<li>Syntastically Awesome Style Sheets (<abbr title="Syntastically Awesome Style Sheets">SASS</abbr>)</li>
<li>Leaner Style Sheets (<abbr title="Leaner Style Sheets">LESS</abbr>)</li>
<li>Object-Oriented CSS (<abbr title="Object-Oriented CSS">OOCSS</abbr>)</li>
<li>Scalable &amp; Modular Architecture CSS (<abbr title="Scalable &amp; Modular Architecture CSS">SMACSS</abbr>)</li>
<li>Unified Modeling Language (<abbr title="Unified Modeling Language">UML</abbr>)</li>
<li>Continuous Integration (<abbr title="Continuous Integration">CI</abbr>)</li>
<li>Continuous Development (<abbr title="Continuous Development">CD</abbr>)</li>
<li>Don't judge; we all start somewhere; I crawled my way up from the sewer (<abbr title="Don't judge; we all start somewhere; I crawled my way up from the sewer">PHP</abbr>)</li>
<li>a defunct in-house product I worked on (<abbr title="a defunct in-house product I worked on">sinc.</abbr>)</li>
</ul>

</aside>

</header>
<section class="o-app__body o-columns">
<article class="o-page__article o-columns__element s-ability-list c-intro">

<h2 id="disciplines">Disciplines</h2>

<p><small>Ordered by professional interest.</small></p>

<details class="c-skill" id="discipline--fe-dev">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--fe-dev--title"><mark>Front-End Engineering</mark></h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-high">
            <label id="discipline--fe-dev--current-skill--label"
                for="discipline--fe-dev--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--fe-dev--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--fe-dev--title discipline--fe-dev--current-skill--label"
                value="4" max="5">
                <span class="c-gauge__desc">4 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-max">
            <label id="discipline--fe-dev--future-skill--label"
                for="discipline--fe-dev--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--fe-dev--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--fe-dev--title discipline--fe-dev--future-skill--label"
                value="5" max="5">
                <span class="c-gauge__desc">5 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li><p><strong>nine</strong> years professional experience</p>

<ul>
<li>numerous marketing websites</li>
<li>numerous e-commerce websites</li>
<li>seven client-side web <abbr title="applications">apps</abbr></li>
<li>semantic HTML5 &amp; modular CSS</li>
<li>JavaScript: DOM, frameworks, widgets, polyfills</li>
<li>passion for user experience</li>
<li>accessibility (<abbr title="accessibility">a11y</abbr>) evangelist</li>
</ul></li>
<li>offered experience in tangential disciplines

<ul>
<li><a href="#discipline--info-arch--title">Information Architect</a></li>
<li><a href="#discipline--soft-arch--title">Software Architect</a></li>
<li><a href="#discipline--tech-write--title">Technical Writer</a></li>
<li><a href="#discipline--be-dev--title">Back-end Development</a></li>
<li><a href="#discipline--design--title">Visual &amp; UX Design</a>
</aside>
</details></li>
</ul></li>
</ul>

<details class="c-skill" id="discipline--soft-arch">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--soft-arch--title">Software Architecture</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range">
            <label id="discipline--soft-arch--current-skill--label"
                for="discipline--soft-arch--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--soft-arch--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--soft-arch--title discipline--soft-arch--current-skill--label"
                value="3" max="5">
                <span class="c-gauge__desc">3 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-max">
            <label id="discipline--soft-arch--future-skill--label"
                for="discipline--soft-arch--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--soft-arch--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--soft-arch--title discipline--soft-arch--future-skill--label"
                value="5" max="5">
                <span class="c-gauge__desc">5 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li><p><strong>two</strong> years professional experience</p>

<ul>
<li>three large web projects</li>
<li>mentorship &amp; documentation</li>
<li>cross-team development</li>
<li>research technical solutions</li>
</ul></li>
<li>offered experience in tangential disciplines

<ul>
<li><a href="#discipline--proj-mgmt--title">Project Management</a></li>
<li><a href="#discipline--tech-prod--title">Technical Product</a>
</aside>
</details></li>
</ul></li>
</ul>

<details class="c-skill" id="discipline--info-arch">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--info-arch--title">Information Architecture</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-low">
            <label id="discipline--info-arch--current-skill--label"
                for="discipline--info-arch--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--info-arch--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--info-arch--title discipline--info-arch--current-skill--label"
                value="2" max="5">
                <span class="c-gauge__desc">2 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-high">
            <label id="discipline--info-arch--future-skill--label"
                for="discipline--info-arch--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--info-arch--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--info-arch--title discipline--info-arch--future-skill--label"
                value="4" max="5">
                <span class="c-gauge__desc">4 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li>sporadic tangential professional experience

<ul>
<li><a href="/tech-writer.html" title="Wesley B - Front-End Documentation">organize front-end docs of five companies</a></li>
<li>architect several repositories</li>
<li>extrapolate and define design patterns</li>
</ul></li>
<li><p><em>all</em> above experience was during tangential discipline</p>

<ul>
<li><a href="#discipline--fe-dev--title">Front-End Engineering</a></li>
</ul></li>
<li>miscellaneous personal experience

<ul>
<li>2005—2015 off-and-on personal technical project</li>
<li>2019-Q2 personal creative project
</aside>
</details></li>
</ul></li>
</ul>

<details class="c-skill" id="discipline--design">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--design--title">UX & Visual Design</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range">
            <label id="discipline--design--current-skill--label"
                for="discipline--design--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--design--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--design--title discipline-liux-des--current-skill--label"
                value="2" max="5">
                <span class="c-gauge__desc">3 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-high">
            <label id="discipline--design--future-skill--label"
                for="discipline--design--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--design--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--design--titl  discipline-liux-des--future-skill--label"
                value="3" max="5">
                <span class="c-gauge__desc">4 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li>sporadic tangential professional experience

<ul>
<li>UX collaboration with designers</li>
<li>accessibility (<abbr title="accessibility">a11y</abbr>) evangelist</li>
<li>extrapolate and define design patterns</li>
<li>icons, websites, logos, banners</li>
</ul></li>
<li><p><em>all</em> above experience was during tangential discipline</p>

<ul>
<li><a href="#discipline--fe-dev--title">Front-End Engineering</a></li>
</ul></li>
<li>miscellaneous personal experience

<ul>
<li><a href="http://yi3artist.com/docs/%57%65%73%6C%65%79%42%6F%6D%61%72%32%30%31%32%2E%70%64%66" title="Wesley B - 2012 Résumé">2012 Resume</a></li>
<li><a href="http://yi3artist.com" title="Wesley B - 2011 Website">2011 Website</a></li>
<li><a href="https://www.deviantart.com/wesleyallen/gallery" title="Wesley B - 2010 Portfolio">2010 Portfolio</a></li>
<li>2019-Q2 personal creative project
</aside>
</details></li>
</ul></li>
</ul>

<details class="c-skill" id="discipline--be-dev">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--be-dev--title">Back-End Engineering</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-low">
            <label id="discipline--be-dev--current-skill--label"
                for="discipline--be-dev--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--be-dev--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--be-dev--title discipline--be-dev--current-skill--label"
                value="2" max="5">
                <span class="c-gauge__desc">2 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-high">
            <label id="discipline--be-dev--future-skill--label"
                for="Measurement of known proclivity, current interest, and expected responsibility."
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--be-dev--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--be-dev--title discipline--be-dev--future-skill--label"
                value="4" max="5">
                <span class="c-gauge__desc">4 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li><p><em>three</em> years tangential professional experience</p>

<ul>
<li>some work on server-side web <abbr title="applications">apps</abbr></li>
<li>a little API development</li>
</ul></li>
<li><p><em>all</em> above experience was during tangential discipline</p>

<ul>
<li><a href="#discipline--fe-dev--title">Front-End Engineering</a></li>
</ul></li>
<li>miscellaneous personal experience

<ul>
<li>re-build personal project every <em>N</em> years</li>
<li>strong interest in API development</li>
<li>strong interest in API documentation</li>
<li>introductory game development
</aside>
</details></li>
</ul></li>
</ul>

<details class="c-skill" id="discipline--proj-mgmt">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--proj-mgmt--title">Project Management</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range">
            <label id="discipline--proj-mgmt--current-skill--label"
                for="discipline--proj-mgmt--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--proj-mgmt--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--proj-mgmt--title discipline--proj-mgmt--current-skill--label"
                value="2" max="5">
                <span class="c-gauge__desc">2 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range">
            <label id="discipline--proj-mgmt--future-skill--label"
                for="discipline--proj-mgmt--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--proj-mgmt--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--proj-mgmt--title discipline--proj-mgmt--future-skill--label"
                value="3" max="5">
                <span class="c-gauge__desc">3 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li>recent tangential professional experience

<ul>
<li>track and report status of involved engineering teams</li>
<li>discuss high-level project requirements</li>
<li>serve, also, as <a href="#discipline--tech-prod--title">Technical Product Manager</a> and <a href="#markfront-endarchitectmark">Front-End Architect</a></li>
</ul></li>
<li><p><em>all</em> above experience was during tangential discipline</p>

<ul>
<li><a href="#discipline--soft-arch--title">Software Architecture</a></li>
</ul></li>
<li>miscellaneous personal experience

<ul>
<li>late 2019 website resume &amp; job hunt
</aside>
</details></li>
</ul></li>
</ul>

<details class="c-skill" id="discipline--tech-write">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--tech-write--title">Technical Writing</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range">
            <label id="discipline--tech-write--current-skill--label"
                for="discipline--tech-write--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--tech-write--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--tech-write--title discipline--tech-write--current-skill--label"
                value="3" max="5">
                <span class="c-gauge__desc">3 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-high">
            <label id="discipline--tech-write--future-skill--label"
                for="discipline--tech-write--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--tech-write--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--tech-write--title discipline--tech-write--future-skill--label"
                value="4" max="5">
                <span class="c-gauge__desc">4 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li>sporadic tangential professional experience

<ul>
<li>create and organize documentation</li>
<li><a href="/tech-writer.html" title="Wesley B - Front-End Documentation">maintain front-end docs of five companies</a></li>
<li>training and delegation of documentation</li>
</ul></li>
<li><p><em>all</em> above experience was during tangential discipline</p>

<ul>
<li><a href="#discipline--fe-dev--title">Front-End Engineering</a>
</aside>
</details></li>
</ul></li>
</ul>

<details class="c-skill" id="discipline--tech-prod">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="discipline--tech-prod--title">Technical Product Management</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range">
            <label id="discipline--tech-prod--current-skill--label"
                for="discipline--tech-prod--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="discipline--tech-prod--current-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--tech-prod--title discipline--tech-prod--current-skill--label"
                value="3" max="5">
                <span class="c-gauge__desc">3 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range">
            <label id="discipline--tech-prod--future-skill--label"
                for="discipline--tech-prod--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="discipline--tech-prod--future-skill"
                class="c-gauge__figure"
                aria-labelledby="discipline--tech-prod--title discipline--tech-prod--future-skill--label"
                value="3" max="5">
                <span class="c-gauge__desc">3 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <aside class="c-skill__notes">

<ul>
<li><p><em>two</em> years tangential professional experience</p>

<ul>
<li>acquire/define<sup>*</sup> requirements for engineers</li>
<li>create and organize user stories, <abbr title="sets of related user stories">epics</abbr>, and <abbr title="sets of related epics">&#8220;features&#8221;</abbr></li>
<li>serve, also, as <a href="#jr.projectmanager">Jr. Project Manager</a> and <a href="#markfront-endarchitectmark">Front-End Architect</a></li>
</ul></li>
<li><p><em>all</em> above experience was during tangential discipline</p>

<ul>
<li><a href="#discipline--soft-arch--title">Software Architecture</a></li>
</ul></li>
</ul>

<p><sup>*</sup> Serving multiple roles blurred the responsibility for requirements.
</aside>
</details></p>

</article>
<article class="o-page__article o-columns__element s-ability-list--deep">

<h2 id="technicalskills">Technical Skills</h2>

<p><small>Ordered by level of expertise.</small></p>

<h3 id="markprofessionalexpertisemark"><mark>Professional Expertise</mark></h3>

<ul>
<li>front-end engineering

<ul>
<li>HTML

<ul>
<li>HTML5</li>
<li>semantics</li>
<li>minimal tag count</li>
</ul></li>
<li>CSS

<ul>
<li>organization &amp; modularity

<ul>
<li><a href="https://en.bem.info" title="Block Element Modifier">BEM</a></li>
<li><a href="https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces" title="BEM with Namespaces">Bem with Namespaces</a></li>
<li><a href="http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528" title="Inverted Triangle CSS">ITCSS</a></li>
<li><a href="https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further" title="BEM &amp; ITCSS &amp; Namespaces">BEMIT</a> <small>sans &#8220;Responsive Suffixes&#8221;</small></li>
<li><abbr title="Object-Oriented CSS">OOCSS</abbr></li>
<li><abbr title="OOCSS, SMACSS, in-house">prior CSS organization</abbr></li>
</ul></li>
<li>processing &amp; compatibility

<ul>
<li><a href="https://postcss.org" title="Transform CSS with JS">PostCSS</a></li>
<li><abbr title="SASS, LESS">prior CSS processing</abbr></li>
</ul></li>
<li>documentation &amp; pattern library

<ul>
<li><a href="http://warpspire.com/kss" title="Kneath Style Sheets">KSS</a></li>
<li><abbr title="styleguide.js, in-house">prior CSS documentation</abbr></li>
</ul></li>
</ul></li>
<li>JavaScript

<ul>
<li>ECMAScript 5—6/2015+

<ul>
<li>ECMAScript 5
<br /><small>The good parts and the bad parts.</small></li>
<li>ECMAScript 2015+
<br /><small>I know, well, the ~half of it that I have used.</small></li>
</ul></li>
<li>tooling

<ol>
<li>Parcel</li>
<li>Rollup</li>
<li><abbr title="Webpack, Bower, Gulp, Grunt, RequireJS">prior JS tooling</abbr></li>
</ol></li>
<li>scripting

<ol>
<li><abbr title="Preference for raw JavaScript, not jQuery">DOM manipulation</abbr></li>
<li>NPM</li>
<li><abbr title="Node">newer JS scripting</abbr></li>
</ol></li>
<li>latest technology

<ul>
<li><code>.browserslistrc</code>

<ul>
<li>For JavaScript via Babel</li>
<li>For CSS via PostCSS</li>
</ul></li>
<li>ES2015+ via Babel

<ul>
<li>I&#8217;ve used its latest featureset for every new project.</li>
<li>I&#8217;ve had to integrate it into many tooling setups.</li>
</ul></li>
<li><a href="https://preset-env.cssdb.org" title="Tomorrow’s CSS Today"><code>postcss-preset-env</code></a>

<ul>
<li>This, after having used <a href="https://cssnext.github.io" title="[Deprecated] Tomorrow’s CSS Today">cssnext</a>.</li>
<li>I have begun to help the community.</li>
</ul></li>
<li>Aurelia

<ul>
<li>This is, now, not a recent framework. But, I was an early adopter.</li>
<li>I required usage to be explicit, not its default implicit behavior.</li>
</ul></li>
</ul></li>
<li>frameworks

<ul>
<li>See <a href="/js-frameworks.html" title="Wesley B - JS Framework Proficiency">JavaScript Frameworks</a>.</li>
</ul></li>
</ul></li>
<li>usability

<ul>
<li><abbr title="Preferable to graceful degredation (but not feasible for every project)">progressive enhancement</abbr></li>
<li><abbr title="Often available merely via semantic HTML5 (ARIA roles may be required)">accessibility</abbr></li>
<li>performance</li>
</ul></li>
</ul></li>
<li>documentation

<ul>
<li>code

<ul>
<li>standards

<ul>
<li>explain internal standards</li>
<li>link to external standards</li>
</ul></li>
<li>generated API docs

<ul>
<li><a href="http://warpspire.com/kss" title="Kneath Style Sheets">KSS</a></li>
<li><a href="https://jsdoc.app" title="JavaScript Doc Generator">JSDoc</a></li>
<li><a href="https://phpdoc.org" title="PHP Doc Generator">phpDocumentor</a></li>
</ul></li>
<li>comments

<ul>
<li><a href="https://www.python.org/dev/peps/pep-0350" title="Codetags">PEP 350</a></li>
<li><a href="https://medium.com/it-dead-inside/self-documenting-code-is-mostly-nonsense-1de5f593810f">self-documenting code is (mostly) nonsense</a></li>
</ul></li>
</ul></li>
<li>pattern library

<ul>
<li>user-facing content
<br /><small>Great companies will publish quality internal work for the community.</small></li>
<li>developer content
<br /><small>Developer-specific knowledge can easily have its own auto-generated website.</small></li>
</ul></li>
<li>wiki syntax

<ul>
<li>Markdown <small>and its extended family</small></li>
<li>MediaWiki</li>
<li>Confluence</li>
</ul></li>
<li>project management

<ul>
<li>requirements</li>
<li>planning</li>
</ul></li>
</ul></li>
<li>semantics

<ul>
<li>HTML5</li>
<li>documentation</li>
<li>pattern library</li>
<li>naming in code</li>
<li>cross-team vocabulary</li>
</ul></li>
<li>software architecture

<ul>
<li>abstraction
<br /><small>documentation, consistent vocabulary, no over-engineering</small></li>
<li>reusable code
<br /><small>Please, ask me about &#8220;Shared CSS for Powerhouse Management&#8221;.</small></li>
<li>mentorship
<br /><small>communities of practice, socratic method, freedom</small></li>
</ul></li>
<li>CMS

<ul>
<li><a href="https://craftcms.com" title="a very customizable CMS">Craft CMS</a></li>
<li><abbr title="Shopify, WordPress">earlier CMS experience</abbr></li>
<li><abbr title="Joomla, PrestaShop, Magento, Typolight, and more">prior CMS experience</abbr></li>
</ul></li>
</ul>

<h3 id="professionalresponsibility">Professional Responsibility</h3>

<ul>
<li>front-end engineering

<ul>
<li>HTML

<ul>
<li>HTML5</li>
<li>semantics</li>
<li>minimal tag count</li>
</ul></li>
<li>CSS

<ul>
<li>organization &amp; modularity

<ul>
<li><a href="https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces" title="BEM with Namespaces">Bem with Namespaces</a></li>
<li><a href="http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528" title="Inverted Triangle CSS">ITCSS</a></li>
<li><a href="https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further" title="BEM &amp; ITCSS &amp; Namespaces">BEMIT</a> <small>sans &#8220;Responsive Suffixes&#8221;</small></li>
<li><abbr title="Object-Oriented CSS">OOCSS</abbr></li>
<li><s><abbr title="Scalable &amp; Modular Architecture CSS">SMACSS</abbr></s></li>
<li><s><abbr title="I devised a methodology that I do not use, now">in-house</abbr></s></li>
</ul></li>
<li>processing &amp; compatibility

<ol>
<li><a href="https://postcss.org" title="Transform CSS with JS">PostCSS</a></li>
<li><abbr title="Syntastically Awesome Style Sheets">SASS</abbr></li>
<li><abbr title="Leaner Style Sheets">LESS</abbr></li>
</ol></li>
<li>documentation &amp; pattern library

<ol>
<li><a href="http://warpspire.com/kss" title="Kneath Style Sheets">KSS</a></li>
<li><s><abbr title="Abandoned project I do not use, now">styleguide.js</abbr></s></li>
<li><s><abbr title="I devised a methodology that I do not use, now">in-house</abbr></s></li>
</ol></li>
</ul></li>
<li>JavaScript

<ul>
<li>ECMAScript 5—6/2015+

<ul>
<li>ECMAScript 5
<br /><small>The good parts and the bad parts.</small></li>
<li>ECMAScript 2015
<br /><small>I know, well, the ~half of it that I have used.</small></li>
<li>ECMAScript 2016+
<br /><small>Learning as neeeded.</small></li>
</ul></li>
<li>tooling

<ol>
<li>Parcel</li>
<li>Rollup</li>
<li>Webpack</li>
<li><s>Bower</s></li>
<li><s>Gulp</s></li>
<li><s>Grunt</s></li>
<li><s>RequireJS</s></li>
</ol></li>
<li>scripting

<ol>
<li><abbr title="Preference for raw JavaScript, not jQuery">DOM manipulation</abbr></li>
<li>NPM</li>
<li>Node</li>
</ol></li>
<li>latest technology

<ul>
<li><code>.browserslistrc</code>

<ul>
<li>For JavaScript via Babel</li>
<li>For CSS via <a href="https://postcss.org" title="Transform CSS with JS">PostCSS</a></li>
</ul></li>
<li>ES2015+ via Babel

<ul>
<li>I&#8217;ve used its latest featureset for every new project.</li>
<li>I&#8217;ve had to integrate it into many tooling setups.</li>
</ul></li>
<li><a href="https://preset-env.cssdb.org" title="Tomorrow’s CSS Today"><code>postcss-preset-env</code></a>

<ul>
<li>This, after having used <a href="https://cssnext.github.io" title="[Deprecated] Tomorrow’s CSS Today">cssnext</a>.</li>
<li>I have begun to help the community.</li>
</ul></li>
<li>Aurelia

<ul>
<li>This is, now, not a recent framework. But, I was an early adopter.</li>
<li>I required usage to be explicit, not its default implicit behavior.</li>
</ul></li>
</ul></li>
<li>APIs &amp; Integration

<ul>
<li>internal APIs</li>
<li>Auth0</li>
<li>UX plugins</li>
</ul></li>
<li>frameworks

<ul>
<li>See <a href="/js-frameworks.html" title="Wesley B - JS Framework Proficiency">JavaScript Frameworks</a>.</li>
</ul></li>
</ul></li>
<li>usability

<ul>
<li><abbr title="Preferable to graceful degredation (but not feasible for every project)">progressive enhancement</abbr></li>
<li><abbr title="Often available merely via semantic HTML5 (ARIA roles may be required)">accessibility</abbr></li>
<li>performance</li>
</ul></li>
<li>miscellaneous

<ul>
<li>linting</li>
<li>unit testing</li>
</ul></li>
</ul></li>
<li>software architecture

<ul>
<li>decoupling &amp; modularity</li>
<li>object-oriented &amp; functional</li>
<li>composition vs. inheritence</li>
<li>maintenance vs. abstraction</li>
<li>cross-project DRY code</li>
</ul></li>
<li>version control

<ol>
<li>GIT

<ul>
<li>GitFlow <small>and variations</small></li>
<li>the rebase debate</li>
<li>everyday usage</li>
<li>advanced usage</li>
<li>submodules</li>
</ul></li>
<li>Mercurial, Subversion

<ul>
<li>No, thank you.</li>
</ul></li>
</ol></li>
<li>information architecture

<ul>
<li>documentation</li>
<li>API design</li>
<li>pattern library</li>
</ul></li>
<li>CMS

<ul>
<li><a href="https://craftcms.com" title="a very customizable CMS">Craft CMS</a>, <small>extensive experience</small></li>
<li><a href="https://www.shopify.com" title="a high quality e-commerce CMS">Shopify</a>, <small>moderate experience</small></li>
<li>WordPress, <small>off-and-on experience</small></li>
<li>various static site generators, <small>researched before choosing Craft CMS</small></li>
<li><s>Joomla</s></li>
<li><s>PrestaShop</s></li>
<li><s>Magento</s></li>
<li><s>Typolight</s></li>
<li><s>and more</s></li>
</ul></li>
<li>internationalization

<ul>
<li>linguistics

<ul>
<li>text direction</li>
<li>characters vs letters</li>
<li>grammatical differences</li>
<li>pluralization</li>
</ul></li>
<li>translation

<ul>
<li>automated</li>
<li>manual</li>
<li>third-party service</li>
<li>API integration</li>
</ul></li>
</ul></li>
<li>back-end engineering

<ol>
<li>Node</li>
<li>Python</li>
<li><abbr title="Don't judge; we all start somewhere; I crawled my way up from the sewer">PHP</abbr></li>
</ol></li>
<li>scripting

<ol>
<li>Bash
<br /><small>Yes, then I learned Node.</small></li>
<li>Node</li>
</ol></li>
<li>cross-team communication

<ul>
<li>common vocabulary</li>
<li>professional sensitivity

<ul>
<li>others' professional goals</li>
<li>others' professional struggles</li>
</ul></li>
<li>requirements gathering

<ul>
<li>documentation</li>
<li>conflict of interest</li>
<li>flexibility to change</li>
</ul></li>
<li>planning &amp; estimation

<ul>
<li>Agile &amp; Scrum</li>
<li>resource management</li>
</ul></li>
</ul></li>
<li>management

<ul>
<li>for large projects</li>
<li>for small teams</li>
</ul></li>
<li>ERP

<ul>
<li><s><abbr title="a defunct in-house product I worked on">sinc.</abbr><s></li>
</ul></li>
</ul>

<h3 id="professionalinterest">Professional Interest</h3>

<ul>
<li>front-end engineering

<ul>
<li>web components

<ul>
<li>Polymer</li>
<li>ARIA</li>
<li>native support</li>
</ul></li>
<li>latest technology

<ul>
<li>HTML

<ul>
<li>web components</li>
<li>polyfill <code>&lt;details&gt;</code>/<code>&lt;summary&gt;</code></li>
<li><code>&lt;menu&gt;</code> (for web apps)</li>
</ul></li>
<li>CSS

<ul>
<li><code>.paint()</code> API</li>
<li>Houdini API</li>
<li>polyfill CSS features</li>
</ul></li>
<li>JavaScript

<ul>
<li>ES2019+</li>
<li>CSS Typed Object Model</li>
<li>server-side rendering</li>
</ul></li>
<li>miscellaneous

<ul>
<li>HTTP2</li>
<li><abbr title="Electron, React Native, Ionic, Cordova, AngularJS, NativeScript">hybrid mobile app frameworks</abbr></li>
<li>progressive web <abbr title="applications">apps</abbr></li>
</ul></li>
</ul></li>
<li>reduce dependencies

<ul>
<li>Implement semantic HTML first, then consider minimal JavaScript.</li>
<li>Drop jQuery for Zepto, until project code for DOM manip is raw JS.</li>
<li>Learn more Node so that projects use less Node packages.</li>
</ul></li>
<li>miscellaneous

<ul>
<li>linting</li>
<li>unit testing</li>
<li>integration testing</li>
</ul></li>
</ul></li>
<li>usability

<ul>
<li><abbr title="Often available merely via semantic HTML5 (ARIA roles may be required)">accessibility</abbr>

<ul>
<li>HTML5</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA" title="Accessible Rich Internet Applications">ARIA</a></li>
<li>non-screen <code>@media</code> features</li>
</ul></li>
<li>cross-device

<ul>
<li>screen readers</li>
<li>mobile devices</li>
<li>TV, watches, etc.</li>
</ul></li>
<li>and more

<ul>
<li>user experience</li>
<li>findability</li>
<li>content strategy</li>
</ul></li>
</ul></li>
<li>API documentation

<ul>
<li>customer support</li>
<li>keep specs up-to-date</li>
<li>query language, like <a href="https://graphql.org" title="Query Language for APIs">GraphQL</a></li>
</ul></li>
<li>DevOps

<ul>
<li><abbr title="Continuous Integration">CI</abbr>/<abbr title="Continuous Development">CD</abbr></li>
<li>cloud hosting</li>
<li>Linux containers</li>
</ul></li>
<li>software architecture

<ul>
<li><abbr title="Unified Modeling Language">UML</abbr></li>
<li>web sequence diagrams</li>
<li>API design</li>
</ul></li>
<li>programming languages

<ul>
<li>TypeScript</li>
<li>C#</li>
<li>Scala</li>
<li>Ruby</li>
</ul></li>
<li>prototyping

<ul>
<li>sketch and digital wireframing</li>
<li>manual code-based functional prototyping</li>
<li>software-generated UX functional prototyping</li>
</ul></li>
<li>language &amp; culture

<ul>
<li>localization</li>
<li>internationalization</li>
<li>translation</li>
</ul></li>
<li>design

<ul>
<li>atomic design</li>
<li>logos</li>
<li>icons</li>
<li>websites</li>
</ul></li>
</ul>

<h3 id="amateurexperience">Amateur Experience</h3>

<ul>
<li>design

<ul>
<li><a href="http://yi3artist.com/docs/%57%65%73%6C%65%79%42%6F%6D%61%72%32%30%31%32%2E%70%64%66" title="Wesley B - 2012 Résumé">2012 Resume</a></li>
<li><a href="http://yi3artist.com" title="Wesley B - 2011 Website">2011 Website</a></li>
<li><a href="https://www.deviantart.com/wesleyallen/gallery" title="Wesley B - 2010 Portfolio">2010 Portfolio</a></li>
</ul></li>
<li>language

<ul>
<li>linguistics</li>
<li><abbr title="Mandarin">Chinese</abbr></li>
<li>Asian languages</li>
</ul></li>
<li>server-side web app frameworks

<ol>
<li>KoaJS</li>
<li>ExpressJS</li>
<li>Flask</li>
<li>Cake<abbr title="Don't judge; we all start somewhere; I crawled my way up from the sewer">PHP</abbr></li>
<li>Ruby on Rails</li>
</ol></li>
<li>databases

<ul>
<li>MySQL</li>
<li>FileMaker</li>
<li>MongoDB</li>
</ul></li>
</ul>

<h3 id="amateurinterest">Amateur Interest</h3>

<ul>
<li>design

<ul>
<li>typography &amp; fonts</li>
<li>iconography &amp; logos</li>
<li>color theory &amp; science</li>
</ul></li>
</ul>

</article>
<article class="o-page__article o-columns__element s-ability-list--shallow">

<h2 id="personalattributes">Personal Attributes</h2>

<p><small>Ordered by which make me look best.</small></p>

<h3 id="markstrengthsmark"><mark>Strengths</mark></h3>

<ul>
<li>organization</li>
<li>simplify complex concepts</li>
<li>calm when others are stressed</li>
<li>documentation</li>
<li>mentorship</li>
<li><em>never</em> misspell &#8220;misspell&#8221; as &#8220;mispell&#8221;</li>
</ul>

<h3 id="weaknesses">Weaknesses</h3>

<ul>
<li>self-imposed pressure to succeed</li>
<li>vernacular over jargon</li>
<li>misspell <code>display</code> as <code>dispaly</code></li>
<li>misspell <code>master</code> as <code>amster</code></li>
</ul>

<h3 id="physical">Physical</h3>

<ul>
<li>Really, you&#8217;re gonna read these?
<b class="u-white-space--nowrap">Stop</b>.</li>
<li>Glasses, all the better to
<b class="u-white-space--nowrap">see you with</b>.</li>
<li>Abled, but my hands may shake;
<b class="u-white-space--nowrap">it&#8217;s fun</b>.</li>
</ul>

</article>
<article class="o-page__article o-columns__element s-ability-list--shallow">

<h2 id="rolesresponsibilities">Roles &amp; Responsibilities</h2>

<p><small>Ordered by most recent to least recent.</small></p>

<h3 id="jr.projectmanager">Jr. Project Manager</h3>

<ul>
<li>new responsibilities

<ul>
<li>requirements gathering</li>
<li>requirements documentation</li>
<li>team management</li>
<li>project planning</li>
</ul></li>
<li>serving mutliple roles

<ul>
<li>technical product manager</li>
<li>software architect</li>
<li>jr. project manager</li>
</ul></li>
</ul>

<p>Transitioning to project management, I learned about the balance between business, function, and quality; but, also, the conflicts, constrasts, and time constraints of serving multiple roles.</p>

<h3 id="markfront-endarchitectmark"><mark>Front-End Architect</mark></h3>

<ol>
<li>shared code across projects

<ul>
<li>focus on CSS components</li>
<li>integrate into legacy projects</li>
<li>mentor team</li>
</ul></li>
<li><p>web <abbr title="applications">apps</abbr> &amp; marketing websites</p>

<ul>
<li>mentor others in architecture</li>
<li>senior engineer</li>
<li>cross-team</li>
</ul></li>
<li>cross-team documentation

<ul>
<li>information architecture</li>
<li>content &amp; maintenance</li>
<li>mentor others in documentation</li>
</ul></li>
<li>multiple new large projects

<ul>
<li>multi-project pattern library development</li>
<li>split giant legacy website into two websites</li>
<li><p>architect powerful <a href="https://craftcms.com" title="a very customizable CMS">Craft CMS</a> implementation</p>

<ul>
<li>information architecture</li>
<li>cross-team collaboration</li>
<li>layers of internal user experience

<ul>
<li>engineer as user of architecture</li>
<li>designer as user of pattern builders</li>
<li>marketer as user of page builders</li>
</ul></li>
</ul></li>
</ul></li>
<li>technical product manager

<ul>
<li>cross-team communication</li>
<li>information architecture</li>
<li>project research &amp; planning</li>
</ul></li>
</ol>

<p>I led and mentored an in-house team of developers on many projects at once. I taught them all I knew, and how to exceed me. It was the most rewarding and prolific time of my career, but also the most taxing.</p>

<h3 id="softwareengineer">Software Engineer</h3>

<ol>
<li>web app UI development

<ul>
<li>scripting, styling, semantics</li>
<li>ui/ux &amp; usability</li>
<li>cross-team collaboration</li>
</ul></li>
<li>developer documentation

<ul>
<li>architecture</li>
<li>instructions</li>
<li>standards &amp; best practices</li>
</ul></li>
<li><p>client-side web <abbr title="applications">apps</abbr></p>

<ol>
<li>file storage service UI</li>
<li>secure messaging service UI</li>
<li>VPN router-based service UI</li>
<li>VPN server administration</li>
<li>VPN product SDK example service UI</li>
<li>network optimization service UI</li>
<li>service account control panel</li>
</ol></li>
<li>shared code across projects

<ul>
<li>JavaScript &amp; CSS components</li>
<li>architect &amp; implement solution</li>
<li>integrate into new projects</li>
</ul></li>
<li>API design and development

<ul>
<li>VPN server administration UI</li>
<li>independent personal projects</li>
</ul></li>
<li>front-end architecture

<ul>
<li>research &amp; development</li>
<li>information architecture</li>
<li>cross-team development</li>
</ul></li>
</ol>

<p>Transitioning to app development let me evaluate and apply new front-end tech and learn from the experience of my coworkers versed in traditional software engineering. My growth was monumental.</p>

<h3 id="front-endengineer">Front-End Engineer</h3>

<ul>
<li>marketing website UI engineer

<ul>
<li>five brands</li>
<li>development and maintenance</li>
<li>cross-team communication</li>
</ul></li>
</ul>

<p>My employment in the United States began as a UI/UX engineer for marketing websites. During this time, I began to avid help the application development team with their web app UI challenges.</p>

<h3 id="jackofalltrades">Jack of All Trades</h3>

<ol>
<li>Full Stack Web Developer

<ul>
<li>front-end developer</li>
<li>back-end <abbr title="Don't judge; we all start somewhere; I crawled my way up from the sewer">PHP</abbr> developer</li>
<li>FileMaker database UI developer</li>
</ul></li>
<li>Designer

<ul>
<li>logos</li>
<li>icons</li>
<li>banners</li>
</ul></li>
<li>I.T. Asst. Manager

<ul>
<li>I interpreted for American I.T. manager in a <abbr title="Mandarin">Chinese</abbr> company and managed, by proxy, the I.T. staff.</li>
</ul></li>
</ol>

<p>My overseas career began in China as a full-stack web developer with a proclivity for design and a passion to help however I could.</p>

</article>
</section>
<footer class="o-app__foot">

<nav class="s-nav">

<!-- RFE: A templating language would allow class on active page -->

<ul>
<li><a href="/index.html" title="Wesley B - Professional Overview">Home</a></li>
<li><a href="https://www.linkedin.com/in/wesleybomar" title="LinkedIn Profile - Wesley B">LinkedIn</a></li>
<li><a href="https://github.com/wesleyboar" title="GitHub Profile - Wesleyboar">GitHub</a></li>
<li><small><a href="/js-frameworks.html" title="Wesley B - JS Framework Proficiency">JavaScript Frameworks</a></small></li>
<li><small><a href="/tech-writer.html" title="Wesley B - Front-End Documentation">Technical Writer</a></small></li>
<li><small><a href="/docs/wesleyb-fe-resume-2019.rtf" title="Wesley B - Front-End Résumé">Résumé</a></small></li>
</ul>

<nav>

</footer>
</div>

