<template title="Wes! Use a templating language to reduce markup and remove this notice 😄.">
<!-- RFE: Use a templating language for yield/layout/block/blah, so I can:
    - delete this `div`
    - have `.o-page` & `.o-page__*` in one file
-->
</template>

<div class="o-app--layout-vert">
<header class="o-app__head c-intro">

<h1 id="wesleybwes-index-short"><a href="/index.html" title="Professional Overview">Wesley B</a></h1>

<h2 class="c-intro__major">
    <span>Sr. JavaScript Engineer</span>
    <small class="c-intro__extra">Sr. Front-End Engineer</small>
</h2>
<p>
This page explains my proficiency in JavaScript frameworks for client web applications. It does <strong>not</strong> include libraries, such as jQuery (nor Zepto), Lodash (nor Underscore), various widgets, etc.
</p>

<blockquote class="c-intro__minor s-md2html-example">

<ul>
<li>Headings with a disclosure triangle (▸), when clicked/tapped/activated, will reveal more information.

<ul>
<li>Some lists can be nested many levels deep. Explore as far as you care.</span></li>
</ul></li>
<li><p>Such headings, <mark>if marked (like this)</mark>, have content that I specifically have choosen to highlight.</p>

<ul>
<li>Only the headings are marked. No need to hunt for marked content.</li>
</ul></li>
</ul>

<footer>
    Wesley B, <cite>notes from candidate</cite>
</footer>

</blockquote>

<!-- RFE: Show glossary when it is rendered usefully and is accessible. -->
<!-- FAQ: MultiMarkdown will "over-render" the first instance of an `<abbr>`,
          so I store that excess information in a proper glossary. -->
<aside id="s-md2html--auto-gen-abbr-glossary" hidden>

<ul>
<li>Measurement of known proclivity, current interest, and expected responsibility. (<abbr title="Measurement of known proclivity, current interest, and expected responsibility.">projected</abbr>)</li>
<li>Measurement of actual experience and current knowledge. (<abbr title="Measurement of actual experience and current knowledge.">current</abbr>)</li>
<li>applications (<abbr title="applications">apps</abbr>)</li>
<li>sets of related user stories (<abbr title="sets of related user stories">epics</abbr>)</li>
<li>sets of related epics (<abbr title="sets of related epics">&#8220;features&#8221;</abbr>)</li>
<li>Electron, React Native, Ionic, Cordova, AngularJS, NativeScript (<abbr title="Electron, React Native, Ionic, Cordova, AngularJS, NativeScript">hybrid mobile app frameworks</abbr>)</li>
<li>Often available merely via semantic HTML5 (ARIA roles may be required) (<abbr title="Often available merely via semantic HTML5 (ARIA roles may be required)">accessibility</abbr>)</li>
<li>Preferable to graceful degredation (but not feasible for every project) (<abbr title="Preferable to graceful degredation (but not feasible for every project)">progressive enhancement</abbr>)</li>
<li>Webpack, Bower, Gulp, Grunt, RequireJS (<abbr title="Webpack, Bower, Gulp, Grunt, RequireJS">prior JS tooling</abbr>)</li>
<li>OOCSS, SMACSS, in-house (<abbr title="OOCSS, SMACSS, in-house">prior CSS organization</abbr>)</li>
<li>SASS, LESS (<abbr title="SASS, LESS">prior CSS processing</abbr>)</li>
<li>styleguide.js, in-house (<abbr title="styleguide.js, in-house">prior CSS documentation</abbr>)</li>
<li>Node (<abbr title="Node">newer JS scripting</abbr>)</li>
<li>Preference for raw JavaScript, not jQuery (<abbr title="Preference for raw JavaScript, not jQuery">DOM manipulation</abbr>)</li>
<li>I devised a methodology that I do not use, now (<abbr title="I devised a methodology that I do not use, now">in-house</abbr>)</li>
<li>Abandoned project I do not use, now (<abbr title="Abandoned project I do not use, now">styleguide.js</abbr>)</li>
<li>Shopify, WordPress (<abbr title="Shopify, WordPress">earlier CMS experience</abbr>)</li>
<li>Joomla, PrestaShop, Magento, Typolight, and more (<abbr title="Joomla, PrestaShop, Magento, Typolight, and more">prior CMS experience</abbr>)</li>
<li>Mandarin (<abbr title="Mandarin">Chinese</abbr>)</li>
<li>Syntastically Awesome Style Sheets (<abbr title="Syntastically Awesome Style Sheets">SASS</abbr>)</li>
<li>Leaner Style Sheets (<abbr title="Leaner Style Sheets">LESS</abbr>)</li>
<li>Object-Oriented CSS (<abbr title="Object-Oriented CSS">OOCSS</abbr>)</li>
<li>Scalable &amp; Modular Architecture CSS (<abbr title="Scalable &amp; Modular Architecture CSS">SMACSS</abbr>)</li>
<li>Unified Modeling Language (<abbr title="Unified Modeling Language">UML</abbr>)</li>
<li>Continuous Integration (<abbr title="Continuous Integration">CI</abbr>)</li>
<li>Continuous Development (<abbr title="Continuous Development">CD</abbr>)</li>
<li>Don't judge; we all start somewhere; I crawled my way up from the sewer (<abbr title="Don't judge; we all start somewhere; I crawled my way up from the sewer">PHP</abbr>)</li>
<li>a defunct in-house product I worked on (<abbr title="a defunct in-house product I worked on">sinc.</abbr>)</li>
</ul>

</aside>

</header>
<section class="o-app__body">
<article class="o-page__article s-ability-list">

<h2 id="javascriptframeworks">JavaScript Frameworks</h2>

<details class="c-skill" id="framework--aurelia">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="framework--aurelia--title">Aurelia</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-high">
            <label id="framework--aurelia--current-skill--label"
                for="framework--aurelia--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="framework--aurelia--current-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--aurelia--title framework--aurelia--current-skill--label"
                value="4" max="5">
                <span class="c-gauge__desc">4 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-high">
            <label id="framework--aurelia--future-skill--label"
                for="framework--aurelia--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="framework--aurelia--future-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--aurelia--title framework--aurelia--future-skill--label"
                value="5" max="5">
                <span class="c-gauge__desc">5 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <p class="c-skill__notes">

<ul>
<li><p>I initially adopted Aurelia because it:</p>

<ul>
<li>provides a valid-HTML template syntax</li>
<li>by default, requires separation of technologies</li>
<li>initially, created standards-compliant code</li>
<li>supports separation of concerns</li>
<li>supports composition in JS via decorators</li>
</ul></li>
<li><p>I have since retired Aurelia because it:</p>

<ul>
<li>is difficult to update</li>
<li>has awful documentation</li>
<li>later, deviated from standards-compliant code</li>
</ul>

    </p>
</details>
</li>
</ul>

<details class="c-skill" id="framework--react">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="framework--react--title">React</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-low">
            <label id="framework--react--current-skill--label"
                for="framework--react--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="framework--react--current-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--react--title framework--react--current-skill--label"
                value="1" max="5">
                <span class="c-gauge__desc">1 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-max">
            <label id="framework--react--future-skill--label"
                for="framework--react--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="framework--react--future-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--react--title framework--react--future-skill--label"
                value="5" max="5">
                <span class="c-gauge__desc">5 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <p class="c-skill__notes">

<ul>
<li><p>I initially ignored React because it:</p>

<ul>
<li>requires a non-HTML template syntax</li>
<li>by default, rejects separation of technologies</li>
<li>does not create standards-compliant code</li>
</ul></li>
<li><p>I have since adopted React because it:</p>

<ul>
<li>the non-HTML template syntax is JS string interpolation</li>
<li>supports separation of technologies</li>
<li>forces separation of concerns</li>
<li>has excellent documentation</li>
<li>now, is nigh inescapable in its industry</li>
</ul>

    </p>
</details>
</li>
</ul>

<details class="c-skill" id="framework--polymer">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="framework--polymer--title">Polymer</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-low">
            <label id="framework--polymer--current-skill--label"
                for="framework--polymer--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="framework--polymer--current-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--polymer--title framework--polymer--current-skill--label"
                value="1" max="5">
                <span class="c-gauge__desc">1 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-high">
            <label id="framework--polymer--future-skill--label"
                for="framework--polymer--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="framework--polymer--future-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--polymer--title framework--polymer--future-skill--label"
                value="4" max="5">
                <span class="c-gauge__desc">4 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <p class="c-skill__notes">

<ul>
<li><p>I have been excited to use Polymer, because it:</p>

<ul>
<li>is next-gen valid-HTML syntax</li>
<li>strives for standards-compliant code</li>
<li>supports separation of concerns</li>
<li>supports separation of technologies</li>
<li>polyfills web components</li>
</ul></li>
<li><p>I have been delaying use of Polymer, because it:</p>

<ul>
<li>is unstable</li>
<li>is inconsistently documented</li>
</ul>

    </p>
</details>
</li>
</ul>

<details class="c-skill" id="framework--ember">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="framework--ember--title">Ember</h3>
    </summary>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-low">
            <label id="framework--ember--current-skill--label"
                for="framework--ember--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="framework--ember--current-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--ember--title framework--ember--current-skill--label"
                value="2" max="5">
                <span class="c-gauge__desc">2 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range">
            <label id="framework--ember--future-skill--label"
                for="framework--ember--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="framework--ember--future-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--ember--title framework--ember--future-skill--label"
                value="3" max="5">
                <span class="c-gauge__desc">3 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <p class="c-skill__notes">

<ul>
<li><p>I used this in a web application because</p>

<ul>
<li>The application needed the power of Ember.</li>
</ul></li>
<li><p>I warn against Ember, because:</p>

<ul>
<li>The learning curve is very high.</li>
<li>The framework is not forgiving.</li>
<li>Unless it meets <em>almost all</em> technical requirements of a project, it may be more investment than its worth.</li>
</ul>

    </p>
</details>
</li>
</ul>

<details class="c-skill" id="framework--other">
    <summary class="c-skill__title">
        <h3 class="js-ignore"
            id="framework--other--title">others</h3>
    </summary>
    <aside class="c-skill-notes"><small>The frameworks that I have only evaluated, or not used in a long time, are Angular, Vue, Backbone, JavaScriptMVC</small></aside>
    <ul class="c-gauge--layout-stacked has-range--count-2 c-skill__data">
        <li class="c-gauge__range is-low">
            <label id="framework--other--current-skill--label"
                for="framework--other--current-skill"
                class="c-gauge__label"
                title="Measurement of actual experience and current knowledge.">Current Proficiency</label>
            <progress id="framework--other--current-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--other--title framework--other--current-skill--label"
                value="1" max="5">
                <span class="c-gauge__desc">1 out of 5, relative to other disciplines</span>
            </progress>
        </li>
        <li class="c-gauge__range is-low">
            <label id="framework--other--future-skill--label"
                for="framework--other--future-skill"
                class="c-gauge__label"
                title="Measurement of known proclivity, current interest, and expected responsibility.">Projected Proficiency</label>
            <progress id="framework--other--future-skill"
                class="c-gauge__figure"
                aria-labelledby="framework--other--title framework--other--future-skill--label"
                value="2" max="5">
                <span class="c-gauge__desc">2 out of 5, relative to other disciplines</span>
            </progress>
        </li>
    </ul>
    <p class="c-skill__notes">

<ul>
<li><p>I evaluated these frameworks on the basis of:</p>

<ul>
<li>template syntax</li>
<li>learning curve</li>
<li>documentation quality</li>
<li>separation of technologies</li>
<li>separation of concerns</li>
<li>effort towards standards-compliance</li>
</ul></li>
<li><p>I declined them, because of <em>any</em> of these reasons:</p>

<ul>
<li>outdated</li>
<li>bloated</li>
<li>project becomes tightly coupled to framework</li>
<li>compared poorly against other choices</li>
</ul>

    </p>
</details>
</li>
</ul>

</article>
</section>
<footer class="o-app__foot">

<nav class="s-nav">

<!-- RFE: A templating language would allow class on active page -->

<ul>
<li><a href="/index.html" title="Wesley B - Professional Overview">Home</a></li>
<li><a href="https://www.linkedin.com/in/wesleybomar" title="LinkedIn Profile - Wesley B">LinkedIn</a></li>
<li><a href="https://github.com/wesleyboar" title="GitHub Profile - Wesleyboar">GitHub</a></li>
<li><small><a href="/js-frameworks.html" title="Wesley B - JS Framework Proficiency">JavaScript Frameworks</a></small></li>
<li><small><a href="/tech-writer.html" title="Wesley B - Front-End Documentation">Technical Writer</a></small></li>
<li><small><a href="/docs/wesleyb-fe-resume-2019.rtf" title="Wesley B - Front-End Résumé">Résumé</a></small></li>
</ul>

<nav>

</footer>
</div>

