<template title="Wes! Use a templating language to reduce markup and remove this notice 😄.">
<!-- RFE: Use a templating language for yield/layout/block/blah, so I can:
    - delete this `div`
    - have `.o-page` & `.o-page__*` in one file
-->
</template>

<div class="o-app--layout-vert">
<header class="o-app__head c-intro">

<h1 id="wesleybwes-index-short"><a href="/index.html" title="Professional Overview">Wesley B</a></h1>

<h2 class="c-intro__major">
    <span>Technical Writer</span>
    <small class="c-intro__extra">Sr. Front-End Engineer</small>
</h2>
<p>
This page explains my extensive work in technical and non-technical documentation for numerous Front-End Engineering projects from five sibling companies. In short, I have created, updated, and maintained documentation that initially came to me inconsistent, incomplete, and independent but has since become a navigable, consistent, reliable explanation of almost all responsibilities of an entire department.
</p>

<blockquote class="c-intro__minor s-md2html-example">

<ul>
<li>Headings with a disclosure triangle (▸), when clicked/tapped/activated, will reveal more information.

<ul>
<li>Some lists can be nested many levels deep. Explore as far as you care.</span></li>
</ul></li>
<li><p>Such headings, <mark>if marked (like this)</mark>, have content that I specifically have choosen to highlight.</p>

<ul>
<li>Only the headings are marked. No need to hunt for marked content.</li>
</ul></li>
</ul>

<footer>
    Wesley B, <cite>notes from candidate</cite>
</footer>

</blockquote>

<!-- RFE: Show glossary when it is rendered usefully and is accessible. -->
<!-- FAQ: MultiMarkdown will "over-render" the first instance of an `<abbr>`,
          so I store that excess information in a proper glossary. -->
<aside id="s-md2html--auto-gen-abbr-glossary" hidden>

<ul>
<li>Measurement of known proclivity, current interest, and expected responsibility. (<abbr title="Measurement of known proclivity, current interest, and expected responsibility.">projected</abbr>)</li>
<li>Measurement of actual experience and current knowledge. (<abbr title="Measurement of actual experience and current knowledge.">current</abbr>)</li>
<li>applications (<abbr title="applications">apps</abbr>)</li>
<li>sets of related user stories (<abbr title="sets of related user stories">epics</abbr>)</li>
<li>sets of related epics (<abbr title="sets of related epics">&#8220;features&#8221;</abbr>)</li>
<li>Electron, React Native, Ionic, Cordova, AngularJS, NativeScript (<abbr title="Electron, React Native, Ionic, Cordova, AngularJS, NativeScript">hybrid mobile app frameworks</abbr>)</li>
<li>Often available merely via semantic HTML5 (ARIA roles may be required) (<abbr title="Often available merely via semantic HTML5 (ARIA roles may be required)">accessibility</abbr>)</li>
<li>Preferable to graceful degredation (but not feasible for every project) (<abbr title="Preferable to graceful degredation (but not feasible for every project)">progressive enhancement</abbr>)</li>
<li>Webpack, Bower, Gulp, Grunt, RequireJS (<abbr title="Webpack, Bower, Gulp, Grunt, RequireJS">prior JS tooling</abbr>)</li>
<li>OOCSS, SMACSS, in-house (<abbr title="OOCSS, SMACSS, in-house">prior CSS organization</abbr>)</li>
<li>SASS, LESS (<abbr title="SASS, LESS">prior CSS processing</abbr>)</li>
<li>styleguide.js, in-house (<abbr title="styleguide.js, in-house">prior CSS documentation</abbr>)</li>
<li>Node (<abbr title="Node">newer JS scripting</abbr>)</li>
<li>Preference for raw JavaScript, not jQuery (<abbr title="Preference for raw JavaScript, not jQuery">DOM manipulation</abbr>)</li>
<li>I devised a methodology that I do not use, now (<abbr title="I devised a methodology that I do not use, now">in-house</abbr>)</li>
<li>Abandoned project I do not use, now (<abbr title="Abandoned project I do not use, now">styleguide.js</abbr>)</li>
<li>Shopify, WordPress (<abbr title="Shopify, WordPress">earlier CMS experience</abbr>)</li>
<li>Joomla, PrestaShop, Magento, Typolight, and more (<abbr title="Joomla, PrestaShop, Magento, Typolight, and more">prior CMS experience</abbr>)</li>
<li>Mandarin (<abbr title="Mandarin">Chinese</abbr>)</li>
<li>Syntastically Awesome Style Sheets (<abbr title="Syntastically Awesome Style Sheets">SASS</abbr>)</li>
<li>Leaner Style Sheets (<abbr title="Leaner Style Sheets">LESS</abbr>)</li>
<li>Object-Oriented CSS (<abbr title="Object-Oriented CSS">OOCSS</abbr>)</li>
<li>Scalable &amp; Modular Architecture CSS (<abbr title="Scalable &amp; Modular Architecture CSS">SMACSS</abbr>)</li>
<li>Unified Modeling Language (<abbr title="Unified Modeling Language">UML</abbr>)</li>
<li>Continuous Integration (<abbr title="Continuous Integration">CI</abbr>)</li>
<li>Continuous Development (<abbr title="Continuous Development">CD</abbr>)</li>
<li>Don't judge; we all start somewhere; I crawled my way up from the sewer (<abbr title="Don't judge; we all start somewhere; I crawled my way up from the sewer">PHP</abbr>)</li>
<li>a defunct in-house product I worked on (<abbr title="a defunct in-house product I worked on">sinc.</abbr>)</li>
</ul>

</aside>

</header>
<section class="o-app__body">
<article class="o-page__article s-ability-list--shallow">

<h2 id="front-enddocumentation">Front-End Documentation</h2>

<h3 id="internalteam">Internal Team</h3>

<p>For my individual and team projects, I organized, created, updated, maintained (and, later, delegated the aforementioned tasks) these kinds of docs:</p>

<ul>
<li>process &amp; instructions</li>
<li>repository <code>README.md</code>&#8217;s</li>
<li>wiki-maintained instructions</li>
<li>cross-project modules</li>
<li>standards &amp; best practices</li>
<li>list and explain internal ones</li>
<li>organize links to external ones</li>
<li>reference source material</li>
</ul>

<h3 id="externalteams">External Teams</h3>

<p>For projects with consumers from other teams (back-end, DevOps, architects, marketing, HR, etc), I created (and trained others to create) these kinds of docs:</p>

<ul>
<li>introductions &amp; instructions</li>
<li>technical and non-technical</li>
</ul>

<h3 id="projectmanagement">Project Management</h3>

<p>For each project I managed, I maintained these kinds of docs:</p>

<ul>
<li>research</li>
<li>status &amp; estimation</li>
<li>requirements (high-level)</li>
<li>requirements (low-level)</li>
</ul>

<h3 id="communityofpractice">Community of Practice</h3>

<p>I created and participated in two <a href="https://en.wikipedia.org/wiki/Community_of_practice">Communities of Practice</a><sup>*</sup>, <em>Front-End Development</em> and <em>Software Engineering</em>, for which I maintained (or delegated creation of) these kinds of docs:</p>

<ul>
<li>lesson material</li>
<li>session notes</li>
<li>topics of interest</li>
</ul>

<p><small><sup>*</sup> I also inspired a few others.</small></p>

</div>
</article>
</section>
<footer class="o-app__foot">

<nav class="s-nav">

<!-- RFE: A templating language would allow class on active page -->

<ul>
<li><a href="/index.html" title="Wesley B - Professional Overview">Home</a></li>
<li><a href="https://www.linkedin.com/in/wesleybomar" title="LinkedIn Profile - Wesley B">LinkedIn</a></li>
<li><a href="https://github.com/wesleyboar" title="GitHub Profile - Wesleyboar">GitHub</a></li>
<li><small><a href="/js-frameworks.html" title="Wesley B - JS Framework Proficiency">JavaScript Frameworks</a></small></li>
<li><small><a href="/tech-writer.html" title="Wesley B - Front-End Documentation">Technical Writer</a></small></li>
<li><small><a href="/docs/wesleyb-fe-resume-2019.rtf" title="Wesley B - Front-End Résumé">Résumé</a></small></li>
</ul>

<nav>

</footer>
</div>

